@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

body{
    background-image: linear-gradient(to bottom,#AB68EB,#6963E7);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.container-wrap{
    margin: auto;
    position: relative;
  
.box{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
  
}



}

.box.anime{
    animation: box-animation 1s cubic-bezier(0.215, 0.610, 0.355, 1)  ;
}


@keyframes box-animation{
    0%{
        left: -4rem;
    }
    50%{
        left: -8rem;
    }
    100%{
        left: -4rem;
    }
}


.container{
    position: relative;
    min-height: 550px;
    align-items: center;
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
    min-width: 1000px;
    display: flex;
    gap: 2rem;

    overflow: hidden;
    .even-column{
        width: 50%;
    }
    .illustration{
        position: absolute;
        left: -6rem;
        transform: translateY(-50%);
    }
    .even-column:first-of-type{
        position: relative;
    }
    .even-column:last-of-type{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    li{
        min-width: 100% !important;
    }
    .question{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        i{
            color:#C17C6C ;
        }
        p{
            font-weight: 700;
            color: grey ;
            @include transition;
        }
    }
    .pattern{
        position: absolute;
        left: -10%;
        transform: translateY(-20rem);

    }
  
    .answer{
        p{
            color: grey ;

        }
        margin-top: 1rem;

        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: max-height 0.2s ease-in,opacity 0.2s ease;
    }
    .activeAnswer{
        opacity: 1;
        max-height: 20rem;
        display: block;
    }

}

hr{
    opacity: 0.2;
}

h2{
    font-weight: bold;
}

