@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");
/* Gradient Colors */
button {
  padding: 1rem 3rem;
  border-radius: 20rem;
  border: none;
}
button a {
  color: white !important;
}

header button {
  background-color: #13183f;
}

.hero button {
  background-image: linear-gradient(to bottom, #ff6f48, #f02aa6);
}

footer button {
  background-image: linear-gradient(to bottom, #f02aa6, #4851ff);
}

.container {
  padding: 0rem 1rem;
  max-width: 1100px !important;
  margin: auto;
}

body {
  background-color: #F8F8FF;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 40rem;
  color: #13183f !important;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
}

h1 {
  font-size: clamp(3.7rem, 3vw + 1rem, 4.5rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
  max-width: 35rem;
  color: #9c9ba0 !important;
}

h2 {
  font-size: clamp(2.4rem, 4vw + 1rem, 3.2rem);
}

h3 {
  font-size: clamp(1.8rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black !important;
}

header .container {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  padding: 4rem 0rem;
  background-color: #13183f;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-wrap-mob {
  display: none;
}

.hero {
  min-height: 80rem;
}
.hero .container {
  display: flex;
}
.hero h1 {
  font-weight: bold;
}
.hero .wrap {
  width: 50%;
}
.hero .text-wrap {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.hero .image-wrap {
  position: relative;
}
.hero .image-wrap .desk {
  position: absolute;
  scale: 2;
  transform: translateX(15rem);
}
.hero .image-wrap .tablet {
  display: none;
}
.hero .image-wrap .mobile {
  display: none;
}

.cards {
  margin-bottom: 10rem;
}
.cards .card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  min-width: 100% !important;
  min-height: 30rem;
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
.cards .card h3 {
  font-weight: bold;
}
.cards .card a {
  position: absolute;
  bottom: 0rem;
  color: #f74780 !important;
  font-weight: 500;
}
.cards .card img {
  transform: translateY(-5rem) !important;
}
.cards .card:not(.card1) > * {
  transform: translateY(-3.5rem);
}
.cards .card1 {
  grid-area: card1;
  background-image: linear-gradient(to bottom, #ff6f48, #f02aa6);
}
.cards .card1 h2 {
  color: white !important;
  font-weight: bold;
}
.cards .card2 {
  grid-area: card2;
}
.cards .card3 {
  grid-area: card3;
}
.cards .card4 {
  grid-area: card4;
}
.cards .card5 {
  grid-area: card5;
}
.cards .card6 {
  grid-area: card6;
}
.cards .container {
  display: grid;
  gap: 5rem;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
}

@media (max-width: 1450px) {
  .container {
    max-width: 750px !important;
  }
  .hero .desk {
    display: none;
  }
  .hero .tablet {
    display: block !important;
    position: absolute;
    transform: scale(2) translateY(4rem) translateX(7rem);
  }
  .cards .container {
    display: grid;
    gap: 5rem;
    grid-template-areas: "card1 card2 " "card3 card4 " "card5 card6";
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 500px !important;
  }
  .image-wrap-mob {
    display: flex;
    justify-content: center;
  }
  .image-wrap-mob img {
    min-width: 35rem;
    min-height: 35rem;
  }
  .image-wrap {
    display: none;
  }
  .hero {
    min-height: 55rem;
  }
  .hero .text-wrap {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .wrap {
    width: 100%;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero button {
    margin: auto;
  }
  .cards .container {
    display: grid;
    gap: 5rem;
    grid-template-areas: "card1  " "card2  " "card3  " "card4  " "card5 " "card6 ";
  }
  .cards .card1 {
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
