@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



// @media only screen and (max-width: 768px) {
   
//   }
// @media only screen and (max-width: 992px) {
   
//   }
@media only screen and (max-width: 1050px) {
    .intro{
        background-image: none;
        min-height: auto;
    }
    .security{
        .col{
            min-width: 100%;
        }
        .col:first-of-type{
            @include flex(center,center,column);
            button,h2,p{
                margin: auto;
            }
        }
        img{
            scale: 1 !important;
        }
        padding-top: 5rem;
        text-align: center;
        .container{
            flex-direction: column;
        }
    }
    .data{
        .heading{
            padding-top: 5rem;
        }
        .col:last-of-type{
            display: none;
        }
        .col:first-of-type{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .reason{
        display: flex;
        h2{
            order: 2;

        }
        .icon-wrap{
            position: static;
        }
        .icons{
            margin-bottom: 8rem;
            display: flex;
            gap: 6rem;
            .icon1,.icon2{
                display: none;
            }
        }
    }

    .testimonial{
        max-width: auto !important;
        .row{
            transform: translate(0);
        }
        .lg-txt{
            height: 48rem;
        }
        .col{
            min-width: 50%;
            overflow: hidden;
            opacity: 1 !important;
        }
        .carousel.active{
            transform: translateX(-65%) !important;
        }

    }

    .story{
        .container{
            flex-direction: column ;
            .col{
                width: 100%;
            }
            .col:first-of-type{
                margin-bottom: 30rem;
            }
            .text{
                width: 80%;
            }
        }
    }
    .account{
        padding-top: 10rem;
    }
    .business{
        min-height: 140rem;
        .container{
            height: auto;

            flex-direction: column;
            .col{
                width: 100%;
            }
            .col:first-of-type{
                img{
                    height: auto !important;
                    width: auto;
                    scale: 1 !important;
                    transform: translateX(0);
                    object-fit: contain;
                }
            }
            .col:last-of-type{
                @include flex(center,center,column);
                text-align: center;
                img{
                    margin: auto;
                    height: 5rem;
                }
            }
        }
    }
    
  }



  @media (max-width: 800px){
    .info{
        .row{
            flex-direction: column;
            p{
                max-width: 100rem !important;
            }
        }
    }
    .testimonial{
        .carousel{
            display: none;
        }
        .button-wrap{
            display: none !important;
        }
        .mobile-carousel{
        transition: 1s ease-in;

        display: flex !important;
        gap: 6rem;
        .col{
            min-width: 100%;
        }
        }
        .mobile-buttons{
            min-width: 100%;
            display: flex !important;
            justify-content: space-between;
            transform: translateY(-40rem);
            .icon-wrap{
                cursor: pointer;
                height: 5rem;
                width: 5rem;
                border-radius: 20rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #DED7FB;
            }
            .mob-left{
                left: 0;
                rotate: 90deg;
            }
            .mob-right{
                right: 0;
                rotate: -90deg;
            }
            img{
                height: 1.5rem;
            }
        }
        .mobile-lines{
            display: flex !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            gap: 3rem;
            .line{
                height: 0.5rem;
                width: 6rem;
                background-color: #E2DBFF;
            }
            .line.active{
                width: 10rem;
                background-color:#6D4AFF;
                
            }
        }
    }


  }