@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header{
    padding: 2rem 0rem;
    img{
        height: 2.5rem;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul{
        display: flex;
        gap: 4rem;
    }
    li{
        cursor: pointer;
    }
}

.fa-bars{
    font-size: 3rem;
    display: none !important;
    cursor: pointer;
}
.fa-bars.close{
    display: none !important;
}

.fa-xmark{
    font-size: 3rem;
    cursor: pointer;
    display: none !important;
    z-index: 105;
}
.fa-xmark.active{
    display: block !important;
}

.mobile-nav-bg.active{
    opacity: 1;
}


.mobile-nav{

    border-radius: 0.5rem;
    padding: 6rem 0rem;
    position: absolute;
    top: 0 !important;
    background-color: white;
    width: 90%;
    left: 50%;
    transform: translate(-50%,20%);
    z-index: 100;
    ul{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        li{
            text-align: center;
            cursor: pointer;
            margin: auto;
        }
    }
    display: none;
}

.mobile-nav.active{
    display: block;
}

.mobile-nav-bg{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.575));
    display: block;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
}