@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
button {
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header nav button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header nav button img {
  height: 0.7rem;
}
header .button-wrap button {
  padding: 1rem 3rem;
  border-radius: 20rem;
  border: 2px solid transparent;
}
header .button-wrap a:first-of-type button {
  background: none;
  border: 2px solid #6D4AFF;
  color: #6D4AFF;
}
header .button-wrap a:last-of-type button {
  background: #6D4AFF;
  color: white;
}
header .mobile-header .bottom button {
  padding: 1rem 3rem;
  border-radius: 20rem;
  border: 2px solid transparent;
  font-weight: 600;
}
header .mobile-header .bottom a:first-of-type button {
  background: none;
  border: 2px solid #6D4AFF;
  color: #6D4AFF;
}
header .mobile-header .bottom a:last-of-type button {
  background: #6D4AFF;
  color: white;
}

main button {
  background-color: none;
  padding: 2rem 4rem;
  border: 2px solid transparent;
  border-radius: 20rem;
  background: #6D4AFF;
  color: white;
  font-weight: 600;
  font-size: clamp(1.4rem, 2vw + 1rem, 2.3rem);
}
main .data button {
  min-width: 42rem;
}

body {
  background-color: #F7F5FF;
}

.container {
  padding: 0rem 8rem;
  max-width: 1900px !important;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.sm-txt {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
  color: #372580;
}

.md-txt {
  font-size: clamp(1.4rem, 2vw + 1rem, 1.3em);
  color: #372580;
}

.lg-txt {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.3rem);
  color: #372580;
}

.xl-txt {
  font-size: clamp(3.4rem, 4vw + 1rem, 3.8rem);
  color: #372580;
  line-height: 1.1;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 65rem;
  color: #372580;
  line-height: 1.1;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.8rem);
}

h1 {
  font-size: clamp(2.7rem, 3vw + 1rem, 4rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.8rem);
  max-width: 50rem;
  color: #372580;
}

h2 {
  font-size: clamp(3.4rem, 4vw + 1rem, 3.8rem);
}

h3 {
  font-size: clamp(2.5rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #372580;
}

.fa-bars {
  font-size: 3rem;
  display: none !important;
  cursor: pointer;
}

.close {
  cursor: pointer;
}

header {
  padding: 2rem 0rem;
}
header .logo {
  height: 3rem;
}
header .container {
  display: flex;
  align-items: baseline;
}
header .container nav {
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
header .container nav ul {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}
header .container nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}
header .container nav button {
  cursor: pointer;
  font-weight: 600;
}
header .container .button-wrap {
  padding-left: 4rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .container .button-wrap a button {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown {
  background-color: white;
  position: absolute;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(74, 45, 197, 0.1);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdownLink.active {
  color: #6D4AFF;
}
header .dropdown.active {
  transform: translateY(0rem);
  opacity: 1;
  pointer-events: all;
}
header .dropdown-angle.active {
  transform: rotate(180deg);
  filter: invert(40%) sepia(82%) saturate(5607%) hue-rotate(242deg) brightness(99%) contrast(104%);
  transition: transform 0.1s ease-in;
}
header .dropdown1 {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 1rem;
  padding: 4rem;
  top: 10rem;
  width: 80rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  transform: translateY(2rem);
  opacity: 0;
  pointer-events: none;
}
header .dropdown1 .group {
  height: 12rem;
  display: flex;
  border-radius: 0.5rem;
}
header .dropdown1 .group .tab {
  border-radius: 0.5rem;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .group:not(.group:last-of-type) {
  display: flex;
}
header .dropdown1 .group:not(.group:last-of-type) img {
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
header .dropdown1 .group:not(.group:last-of-type) a {
  padding: 2rem 4rem;
  min-width: 50%;
  display: flex;
}
header .dropdown1 .group:not(.group:last-of-type) a span {
  color: #6D4AFF;
}
header .dropdown1 .group:not(.group:last-of-type) a p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
header .dropdown1 .group:last-of-type {
  background-color: #F7F5FF;
}
header .dropdown1 .group:last-of-type .tab {
  padding: 2rem;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .dropdown1 .group:last-of-type .tab p {
  max-width: 100rem;
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
header .dropdown1 .group:last-of-type .tab .icon-wrap {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 5rem;
  height: 5rem;
  border-radius: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .dropdown1 .icon {
  height: 6rem;
  transform: translateX(-2rem);
}
header .dropdown1 .angle {
  height: 2rem;
}
header .dropdown1 .business {
  height: 3rem;
}
header .dropdown2 {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 1rem;
  top: 10rem;
  width: 80rem;
  z-index: 2;
  display: flex;
  transform: translateY(2rem);
  opacity: 0;
  pointer-events: none;
}
header .dropdown2 .md-txt {
  padding-bottom: 2rem;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown2 .tab {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 100%;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown2 .tab p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
header .dropdown2 .col {
  padding: 4rem;
  min-width: 50%;
}
header .dropdown2 .col:last-of-type {
  background-color: #F9FAFB;
}
header .dropdown2 .guide {
  display: flex;
  padding: 2rem 0rem;
  gap: 2rem;
}
header .dropdown2 .guide .icon-wrap {
  min-width: 6rem;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAE6FD;
  border-radius: 12rem;
}
header .dropdown2 .guide .icon-wrap i {
  font-size: 2rem;
}
header .dropdown2 .careers::after {
  content: "WE'RE HIRING";
  font-size: clamp(1.3rem, 2vw + 1rem, 1.8rem);
  padding: 0.5rem 1.5rem;
  margin-left: 2rem;
  background-color: #EAE6FD;
  border-radius: 20rem;
  font-weight: 600;
  color: #6D4AFF;
}
header .dropdown3 {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 10rem;
  width: 80rem;
  z-index: 2;
  display: flex;
  left: 0;
  width: 100%;
  transform: translateY(2rem);
  opacity: 0;
  pointer-events: none;
}
header .dropdown3 .md-txt {
  padding-bottom: 1rem;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown3 .col {
  padding: 4rem 8rem;
  flex: 1;
}
header .dropdown3 .lg-txt {
  padding-bottom: 2rem;
  position: relative;
  font-weight: 400;
}
header .dropdown3 .lg-txt::after {
  content: "";
  display: block;
  width: 12%;
  border-radius: 20rem;
  background-color: #6D4AFF;
  height: 0.7rem;
}
header .dropdown3 .tab {
  transform: translateX(-2rem);
  padding: 2rem;
  display: block;
  border-radius: 0.5rem;
  min-width: 100%;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown3 .tab p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
header .dropdown3 .col:last-of-type {
  display: flex;
  flex-direction: column;
  background-color: #F9FAFB;
}
header .mobile-header .mob-container {
  background-color: white;
  transform: translateX(100%);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  z-index: 2;
}
header .mobile-header .mob-container .mobnav {
  padding: 2rem 6rem 0rem 6rem;
}
header .mobile-header .mob-container .mobnav ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
header .mobile-header .mob-container .mobnav ul .moblink {
  font-size: clamp(2.5rem, 3vw + 1rem, 2.6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .mobile-header .mob-container .mobnav ul .moblink img {
  height: 1.5rem;
}
header .mobile-header .mob-container .top {
  padding: 2rem 6rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .mobile-header .mob-container .top .letter {
  height: 3.5rem;
}
header .mobile-header .mob-container .top .close {
  height: 2rem;
}
header .mobile-header .mob-container .bottom {
  min-height: 7rem;
  border-top: 2px solid #E2DBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .mobile-header .mob-container .back {
  transform: translateX(3rem);
  margin-bottom: 3rem;
}
header .mobile-header .mob-container .back .md-text {
  font-size: clamp(1.4rem, 2vw + 1rem, 1.3em);
}
header .mobile-header .mob-container .back span {
  opacity: 0.5;
}
header .mobile-header .mob-container .back a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .mobile-header .mob-container .mobdropdown1 {
  display: block;
  display: none;
}
header .mobile-header .mob-container .mobdropdown1 .tab {
  min-width: calc(100% + 2rem);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
header .mobile-header .mob-container .mobdropdown1 .tab .lg-txt {
  font-weight: 600;
}
header .mobile-header .mob-container .mobdropdown1 .tab .lg-txt span {
  color: #6D4AFF;
}
header .mobile-header .mob-container .mobdropdown1 .tab p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
  font-weight: lighter;
}
header .mobile-header .mob-container .mobdropdown1 .icon {
  height: 7rem;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
header .mobile-header .mob-container .mobdropdown1 .business-tab {
  padding: 2rem;
  min-width: calc(100% + 2rem);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .mobile-header .mob-container .mobdropdown1 .business-tab p {
  max-width: 50rem;
}
header .mobile-header .mob-container .mobdropdown1 .business-tab .icon-wrap {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
}
header .mobile-header .mob-container .mobdropdown1 .business-tab .angle {
  height: 2rem;
}
header .mobile-header .mob-container .mobdropdown1 .businessmob {
  height: 4rem;
}
header .mobile-header .mob-container .mobdropdown2 {
  display: block;
  display: none;
}
header .mobile-header .mob-container .mobdropdown2 .md-txt {
  font-weight: 600;
}
header .mobile-header .mob-container .mobdropdown2 .tab {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0.5rem;
  display: block;
  min-width: calc(100% + 2rem);
  padding: 2rem;
  margin-bottom: 1rem;
}
header .mobile-header .mob-container .mobdropdown2 .tab p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
  font-weight: lighter;
  min-width: 570rem;
}
header .mobile-header .mob-container .mobdropdown2 .guide {
  padding: 2rem;
}
header .mobile-header .mob-container .mobdropdown2 .guide p {
  min-width: 90rem;
}
header .mobile-header .mob-container .mobdropdown2 .border {
  border-bottom: 1px solid #D1D5DB;
}
header .mobile-header .mob-container .mobdropdown3 {
  display: block;
  display: none;
}
header .mobile-header .mob-container .mobdropdown3 .col:not(.col:last-of-type) {
  border-bottom: 1px solid #D1D5DB;
  margin-bottom: 1rem;
}
header .mobile-header .mob-container .mobdropdown3 .md-txt {
  font-weight: 600;
}
header .mobile-header .mob-container .mobdropdown3 .lg-txt {
  transform: translateX(2rem);
}
header .mobile-header .mob-container .mobdropdown3 .tab {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: calc(100% + 2rem);
  border-radius: 0.5rem;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  padding: 2rem;
  transform: translateX(0rem);
}
header .mobile-header .mob-container .mobdropdown3 .tab p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
  min-width: 80rem;
}
header .mobdropdown {
  transform: translateX(-2rem);
}
header .mobdropdown.active {
  display: block !important;
}
header .mobul.active {
  display: none !important;
}
header .mob-container.active {
  transform: translateX(0);
}

.businessimg {
  height: 4rem !important;
}

.dropdownLink {
  transition: none !important;
}

.moblink {
  transition: none !important;
}

.foot-plus {
  display: none;
}

footer {
  padding: 8rem 0rem;
}
footer p {
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
footer .letter {
  height: 8rem;
}
footer .proton-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
footer .proton-footer p {
  max-width: 15rem;
}
footer .proton-footer .icon-wrap {
  display: flex;
  gap: 1rem;
}
footer .proton-footer .icon-wrap i {
  color: #6D4AFF;
  font-size: 2rem;
}
footer .lg-txt {
  margin-bottom: 2rem;
  font-weight: 500;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .row1 {
  display: flex;
  border-bottom: 1px solid #E2DBFF;
  padding-bottom: 4rem;
}
footer .row1 .col {
  flex: 1;
}
footer .row2 {
  padding-top: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .row2 .group {
  display: flex;
  gap: 4rem;
}
footer .row2 .support-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
footer .row2 .support {
  margin-top: 1rem;
  transform: translateX(-5rem);
  align-items: flex-start;
  margin-left: 5rem;
  display: flex;
}
footer select {
  padding: 1rem 5rem;
  border-radius: 20rem;
  background: none;
  border: 3px solid #6D4AFF;
  color: #6D4AFF;
  font-weight: 600;
  appearance: none;
  background-image: url(../icons/angle-down.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 13rem;
}
footer .europe {
  margin-right: 4rem;
}
footer .select-wrap {
  position: relative;
}
footer .select-wrap .globe {
  position: absolute;
  height: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  left: 1.4rem;
  filter: invert(27%) sepia(100%) saturate(2821%) hue-rotate(242deg) brightness(101%) contrast(102%);
}
footer .row3 {
  padding-top: 6rem;
}
footer .row3 ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
footer .row4 li {
  padding-top: 4rem;
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
footer .row4 ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.intro {
  background-image: url(../images/index/intro-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
}
.intro h1 {
  font-weight: 300;
}
.intro h1 span {
  font-weight: 600;
}
.intro .icon-wrap {
  padding: 4rem 0rem;
  display: flex;
  gap: 4rem;
}
.intro .icon-wrap img {
  height: 10rem;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
.intro .icon-wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2rem;
  padding: 2rem;
}
.intro .icon-wrap a p {
  margin-top: 2rem;
}

.data .container {
  display: flex;
  align-items: center;
}
.data .container h2 {
  max-width: 60rem;
}
.data .container .col {
  width: 50%;
}
.data .container .col:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.data .container .col:first-of-type p {
  max-width: 58rem;
}
.data .container .col:last-of-type img {
  scale: 1.2;
  transform: translateX(2.5rem);
}

.rules h2 span {
  color: #6D4AFF;
}
.rules .container {
  max-height: 560px;
  overflow: hidden;
  position: relative;
  max-width: 1600px;
  display: flex;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 6rem;
}
.rules .col {
  padding: 2rem;
  background-color: white;
}
.rules .heading {
  padding: 8rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.rules .heading p {
  max-width: 50rem;
}
.rules .col:last-of-type img {
  transform: translateX(12.2rem);
  scale: 0.9;
}
.rules .col:first-of-type {
  overflow: hidden;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.rules .tab {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 2rem;
  position: relative;
}
.rules .tab p {
  height: 5rem;
  font-size: clamp(1.4rem, 1vw + 1rem, 1.6rem);
}
.rules .data1:after {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  transform: rotate(90deg) translateY(-0.7rem);
  bottom: -4rem;
  background-color: #D1D5DB;
  height: 0.2rem;
}
.rules .data2:after {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  bottom: -4rem;
  background-color: #D1D5DB;
  height: 0.2rem;
  right: 5rem;
}
.rules .group {
  display: flex;
  gap: 6rem;
}
.rules .group .tab {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rules .group .tab .lg-txt {
  font-weight: 600;
}
.rules .group .tab .lg-txt span {
  color: #6D4AFF;
}
.rules .group .tab .sm-txt {
  position: relative;
  color: #6D4AFF;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.rules .group .tab .sm-txt img {
  height: 1.2rem;
  filter: invert(53%) sepia(62%) saturate(6838%) hue-rotate(234deg) brightness(103%) contrast(101%);
}
.rules .group .tab .name {
  display: flex;
  align-items: center;
}
.rules .group .tab .name .lg-txt {
  transform: translateX(-1.5rem);
  white-space: nowrap;
}
.rules .group .icon {
  height: 8rem;
}
.rules .icon {
  transform: translateX(-1.7rem);
}
.rules .discover {
  width: 20rem;
  white-space: nowrap;
}
.rules .discover::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #6D4AFF;
  position: absolute;
  bottom: -0.1rem;
  transition: 0.2s ease-in;
}
.rules p {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.rules .rule-slide {
  display: none;
}
.rules .rule-slide.active {
  display: block;
}

.reason {
  padding: 0rem 6rem;
  max-width: 1900px;
  margin: auto;
  position: relative;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.reason h2 {
  max-width: 60rem;
}
.reason span {
  color: #6D4AFF;
}
.reason .icon-group {
  display: flex;
  gap: 6rem;
}
.reason .icon-wrap {
  position: absolute;
  border-radius: 20rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 14px 10px 7px hsla(0deg, 0%, 100%, 0.5), 54px 32px 30px rgba(74, 45, 197, 0.2), 32px 18px 16px rgba(74, 45, 197, 0.145), 16px 9px 7px rgba(74, 45, 197, 0.112), 7px 4px 3px rgba(74, 45, 197, 0.088), 1.5px 0.85px 1.35px rgba(74, 45, 197, 0.055);
}
.reason .icon-wrap i {
  color: #6D4AFF;
  font-size: 3rem;
}
.reason .icon1 {
  left: 10rem;
  bottom: 10rem;
}
.reason .icon2 {
  right: 0rem;
  top: 20rem;
}
.reason .icon3 {
  bottom: 10rem;
  right: 20rem;
}
.reason .icon4 {
  left: 20rem;
  top: 5rem;
}
.reason .icon5 {
  top: 5rem;
  right: 55rem;
}

.info .group {
  margin-bottom: 8rem;
  display: flex;
  gap: 4rem;
}
.info .group h3 {
  font-weight: 600;
}
.info .group .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.info .group .col a {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #6D4AFF;
  font-weight: 600;
}
.info .group .col a img {
  height: 1.2rem;
  filter: invert(53%) sepia(62%) saturate(6838%) hue-rotate(234deg) brightness(103%) contrast(101%);
}
.info .group .learn {
  position: relative;
}
.info .group .learn::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #6D4AFF;
  position: absolute;
  bottom: -0.1rem;
  transition: 0.2s ease-in;
}

.testimonial {
  overflow: hidden;
  padding: 0rem 6rem;
  max-width: 1900px;
  margin: auto;
  position: relative;
  padding: 10rem;
}
.testimonial .card.active {
  opacity: 0.5;
}
.testimonial .lg-txt {
  max-width: 50rem;
}
.testimonial .testimonial-wrap {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate(20rem);
  display: flex;
  gap: 5rem;
}
.testimonial .card {
  box-shadow: 0.125rem 0.125rem 0.375rem 0 rgba(74, 45, 197, 0.04), 0.5rem 0.5625rem 1.625rem 0 rgba(74, 45, 197, 0.07), 1.375rem 1.5rem 5rem 0 rgba(74, 45, 197, 0.11);
  border-radius: 2rem;
  height: 50rem;
  min-width: 65rem;
  padding: 5rem;
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial .card .company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial .card .company img {
  height: 7rem;
}
.testimonial .lines {
  position: absolute;
  display: flex;
  gap: 2rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial .lines .line {
  width: 8rem;
  height: 0.5rem;
  background-color: #E2DBFF;
}
.testimonial .lines .line.active {
  background-color: #6D4AFF;
  width: 10rem;
}
.testimonial .button-wrap {
  position: absolute;
  bottom: 0;
  height: 10rem;
  width: 88%;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
}
.testimonial .button-wrap .left {
  margin-right: auto;
}
.testimonial .button-wrap .right {
  margin-left: auto;
}
.testimonial .button-wrap .icon-wrap {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6D4AFF;
  border-radius: 20rem;
  opacity: 0.5;
  display: none;
}
.testimonial .button-wrap .icon-wrap i {
  color: white;
}
.testimonial .testimonial-wrap.active {
  transform: translateX(-50rem);
}
.testimonial .icon-wrap.active {
  display: flex;
}

.story {
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.story .col {
  width: 50%;
}
.story .txt {
  z-index: 2;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  transform: translateY(20rem);
  width: 50rem;
  max-width: 30%;
  background-color: white;
  box-shadow: 0 0.1rem 0.375rem 0 rgba(74, 45, 197, 0.04), 0 0.5rem 1.375rem 0 rgba(74, 45, 197, 0.07), 0 1.25rem 4.25rem 0 rgba(74, 45, 197, 0.11);
  border-radius: 2rem;
}
.story .txt a {
  color: #6D4AFF;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.story .txt a img {
  height: 1.2rem;
  filter: invert(53%) sepia(62%) saturate(6838%) hue-rotate(234deg) brightness(103%) contrast(101%);
}
.story .txt p {
  color: #1F2937;
}
.story .img {
  transform: translate(10rem, 0rem);
}
.story .img img {
  height: 70rem;
  width: 75%;
}
.story .container {
  display: flex;
  gap: 20rem;
}

.free {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.free .letter {
  height: 8rem;
  margin-bottom: 1rem;
}
.free h2 {
  max-width: 50rem;
}
.free h2 span {
  color: #6D4AFF;
}
.free p {
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: clamp(1.8rem, 2vw + 1rem, 2.3rem);
}
.free .icon-wrap {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}
.free .icon-wrap img {
  height: 8rem;
}

.business {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
}
.business button {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.business .businessimgbottom {
  height: 6rem;
}
.business h2 {
  margin-top: 2rem;
}
.business p {
  color: #494B7A;
}
.business .container {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.business .container .col {
  min-width: 50%;
}
.business .container .col:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.business .container .col:last-of-type p {
  max-width: 60rem;
}
.business .container .col:first-of-type {
  transform: translateX(-15rem);
}
.business .container .col:first-of-type img {
  scale: 1.1;
}

.testi-mobile {
  display: none;
}
.testi-mobile .card {
  position: absolute;
  left: 0;
  box-shadow: 0.125rem 0.125rem 0.375rem 0 rgba(74, 45, 197, 0.04), 0.5rem 0.5625rem 1.625rem 0 rgba(74, 45, 197, 0.07), 1.375rem 1.5rem 5rem 0 rgba(74, 45, 197, 0.11);
  border-radius: 2rem;
  height: 50rem;
  padding: 5rem;
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.testi-mobile .card .company img {
  height: 7rem;
}

header li .nav-link:hover {
  color: #6D4AFF;
}
header li button:hover {
  color: #6D4AFF;
  filter: invert(31%) sepia(82%) saturate(3565%) hue-rotate(241deg) brightness(99%) contrast(104%);
}
header a:first-of-type button:hover {
  border: 2px solid #4A2DC5;
  background: #EFEBFF;
  color: #4A2DC5 !important;
}
header a:last-of-type button:hover {
  background: #4A2DC5 !important;
}
header .desknav .dropdown1 .group:not(.group-last-of-type) .tab:hover {
  background-color: #F7F5FF;
}
header .desknav .dropdown1 .group:last-of-type .tab:hover {
  background-color: #EAE6FD;
}
header .desknav .dropdown1 .group:last-of-type .tab:hover .icon-wrap {
  background-color: #6D4AFF;
}
header .desknav .dropdown1 .group:last-of-type .tab:hover .icon-wrap img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(107%) contrast(102%);
}
header .desknav .dropdown2 .tab:hover {
  background-color: #EAE6FD;
}
header .desknav .dropdown2 .tab:hover .md-txt {
  color: #6D4AFF;
}
header .desknav .dropdown3 .tab:hover {
  background-color: #EAE6FD;
}
header .desknav .dropdown3 .tab:hover .md-txt {
  color: #6D4AFF;
}
header .mobile-header .mobdropdown1 .group:not(.group-last-of-type) .tab:hover {
  background-color: #F7F5FF;
}
header .mobile-header .mobdropdown1 .group:last-of-type .tab:hover {
  background-color: #EAE6FD;
}
header .mobile-header .mobdropdown1 .group:last-of-type .tab:hover .icon-wrap {
  background-color: #6D4AFF;
}
header .mobile-header .mobdropdown1 .group:last-of-type .tab:hover .icon-wrap img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(107%) contrast(102%);
}
header .mobile-header .moblink:hover {
  color: #6D4AFF;
}
header .mobile-header .notbutton:hover img {
  filter: invert(31%) sepia(82%) saturate(3565%) hue-rotate(241deg) brightness(99%) contrast(104%);
}
header .mobile-header .mobdropdown2 .tab:hover {
  background-color: #EAE6FD;
}
header .mobile-header .mobdropdown2 .tab:hover .md-txt {
  color: #6D4AFF;
}
header .mobile-header .mobdropdown3 .tab:hover {
  background-color: #EAE6FD;
}
header .mobile-header .mobdropdown3 .tab:hover .md-txt {
  color: #6D4AFF;
}
header .mobile-header .bottom a:first-of-type button:hover {
  border: 2px solid #4A2DC5;
  background: #EFEBFF;
  color: #4A2DC5 !important;
}
header .mobile-header .bottom a:last-of-type button:hover {
  background: #4A2DC5 !important;
}

main button:hover {
  background: #4A2DC5;
}

.intro .icon-wrap a:hover {
  background: #EAE6FD;
  transform: translateY(-0.5rem);
}

.rules .tab:hover {
  border: 2px solid #6D4AFF;
}
.rules .tab:hover p {
  color: #6D4AFF;
}
.rules .tab:hover .disc1::after {
  width: 64%;
}
.rules .tab:hover .disc2::after {
  width: 79%;
}
.rules .tab:hover .disc3::after {
  width: 67%;
}
.rules .tab:hover .disc4::after {
  width: 64%;
}

.info .learn:hover::after {
  width: 20%;
}

footer .plus-wrap:hover {
  background: none !important;
}

@media only screen and (max-width: 1400px) {
  .intro .icon-wrap {
    gap: 1rem !important;
  }
  .intro .icon-wrap a {
    padding: 1rem !important;
  }
  .intro .icon-wrap a img {
    height: 7rem;
  }
  .data .container {
    display: flex;
    gap: 4rem;
  }
  .rules .col:last-of-type {
    display: none;
  }
  .rules .col:first-of-type {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rules .col:first-of-type .tab p {
    height: auto;
  }
  .rules .col:first-of-type .data1:after {
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    transform: rotate(90deg) translateY(-0.7rem) scaleX(0.4);
    bottom: -4rem;
    background-color: #D1D5DB;
    height: 0.2rem;
  }
  .rules .col:first-of-type .data2:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #D1D5DB;
    width: 200%;
    top: 25rem;
    height: 0.2rem;
  }
  .reason {
    display: flex;
  }
  .reason h2 {
    order: 2;
  }
  .reason .icon-wrap {
    order: 1;
    margin-bottom: 10rem;
    position: static !important;
  }
  .reason .icon1, .reason .icon2 {
    display: none;
  }
  .testimonial .testimonial-wrap {
    transform: translate(-2rem);
  }
  .testimonial .testimonial-wrap .card {
    min-width: 50%;
  }
}
@media (max-width: 1000px) {
  .intro {
    height: auto;
    margin-bottom: 10rem;
    background: none;
  }
  .intro h1 {
    max-width: 50rem;
  }
  .data .container {
    flex-direction: column;
  }
  .data .container .col {
    min-width: 100%;
  }
  .data .container .col:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
  }
  .data .container .col:last-of-type img {
    scale: 1;
  }
  .reason {
    height: 50rem;
    margin-bottom: 15rem;
  }
  .rules .heading {
    padding-top: 0rem;
  }
  .rules .tab {
    position: relative;
  }
  .rules h2 {
    margin-top: 6rem;
  }
  .rules .container {
    display: flex;
    max-height: 100%;
    flex-direction: column;
  }
  .rules .container .tab {
    min-width: 100%;
    position: relative;
  }
  .rules .container .group {
    flex-direction: column;
    min-width: 100%;
  }
  .rules .container .tab::after {
    content: "";
    width: 90%;
    background-color: #EDEDED;
    height: 0.5rem;
    position: absolute;
    display: block;
    position: absolute;
  }
  .rules .container .tab::after {
    content: "";
    display: block !important;
    width: 90%;
    background-color: #EDEDED;
    height: 0.3rem;
    position: absolute;
    top: -3.7rem;
  }
  .rules .container .data2:after {
    display: none !important;
  }
  .rules .container .data2::before {
    content: "";
    display: block !important;
    width: 90%;
    background-color: #EDEDED;
    height: 0.3rem;
    position: absolute;
    top: -3.7rem;
  }
  .info .container .group {
    flex-direction: column;
  }
  .info .container .group p {
    max-width: 100rem;
  }
  .story .container {
    display: flex;
    flex-direction: column;
  }
  .story .container .col {
    min-width: 100%;
  }
  .story .container .txt {
    max-width: 70% !important;
    height: 60rem;
  }
  .free .icon-wrap {
    display: flex;
    justify-content: center;
  }
  .business .businessimgbottom {
    transform: translateX(4rem);
  }
  .business .container {
    flex-direction: column;
  }
  .business .container .col:first-of-type {
    transform: translate(0) !important;
  }
  .business .container .col:first-of-type img {
    scale: 1;
    object-fit: contain;
  }
  .business .container .col:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .testimonial {
    display: none;
  }
  .testi-mobile {
    display: block;
    height: 50rem;
  }
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 1300px) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0rem 4rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1400px) {
  .desknav {
    display: none !important;
  }
  .desknav ul {
    display: none !important;
  }
  .fa-bars {
    display: block !important;
  }
}
@media only screen and (max-width: 900px) {
  header .button-wrap a {
    display: none;
  }
  footer .proton-footer {
    margin-bottom: 5rem;
  }
  footer .row1 {
    flex-direction: column;
  }
  footer .row1 .foot-plus {
    display: block;
    height: 2rem;
  }
  footer .row1 .plus-wrap {
    width: 3rem;
    height: 3rem;
    border-radius: 20rem;
    background-color: #EFEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  footer .row1 .plus-wrap img {
    filter: invert(53%) sepia(62%) saturate(6838%) hue-rotate(234deg) brightness(103%) contrast(101%);
  }
  footer .row1 ul {
    display: none;
  }
  footer .row1 .accordUl {
    margin-left: 4rem;
    margin-bottom: 4rem;
    list-style: disc;
  }
  footer .row1 .accordUl li {
    margin-bottom: 1.5rem;
  }
  footer .row1 .accord {
    cursor: pointer;
  }
  footer .row1 .accordUl.active {
    display: block;
  }
  footer .row1 .lg-txt {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .row2 {
    flex-wrap: wrap;
  }
  footer .row2 .europe {
    margin-bottom: 4rem;
  }
  footer .row2 .group {
    flex-wrap: wrap;
  }
  footer .row3 ul {
    flex-direction: column;
  }
  footer .row4 ul {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
