@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


.container{
    .column:nth-of-type(1){
        button{
            color:#E28525 ;

        }
    }
    .column:nth-of-type(2){
        button{

            color: #016972;
        }
    }
    .column:last-of-type{
        button{

            color: #00403F;
        }
    }
}