@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #111725;
}


.submit-wrap{
    .logo img{
        transform: translateX(4rem);
    }
    max-width: 1300px;
    height: 70rem;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    .pattern{
        width: 18rem;
        height: 8rem;
        position: absolute;
        bottom: -4rem;
        right:0rem;
    }

    .host{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 65%;
        object-fit: cover;
        z-index: -1;
    }
    .text-wrap{
        position: absolute;
        bottom: 0;
        background-color: #111725;

        height: 65%;
        padding: 4rem;
        padding-bottom: 0rem !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
    }

    .submit{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .submitBox{
        h1,p{
            color: white;
        }
        h1{
            text-transform: uppercase;
            line-height: 1.1;
        }
        h1 span{
            color: #54E6AF;
        }
        p{
            max-width: 50rem;
        }
    }
    form {
        position: relative;
        input,button{
            padding: 1rem 2rem;
            border-radius: 2rem;
        }
        input{
            padding: 1.5rem;
            min-width: 100%;
            color: white;
            background-color: #2C344B;
            border: none;
    
        }
        
        button{
            position: absolute;
            cursor: pointer;
right: 0;
top: 50%;
transform: translate(-5%,-50%);
            background-color: #54E6AF;
            border: none;
        }
    }
    .sponsor{
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-top: 4rem;
    }
}




.notice{
    opacity: 0;
    pointer-events: none;
    font-size: 1.5rem;
    position: absolute;
    width: 30rem;
    height: 5rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center ;

    bottom: 3rem;
    p{
        color: black !important;
    }
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}


