@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


footer{
    padding: 2rem 0rem;
    .logo{
        height: 3rem;
    }
    background: #90D4C5;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
 .container{
    a{
        color: #38806F;
    }
    i{
        font-size: 2.5rem;
        color: #38806F
    }
    @include flex(center,center,column);
    text-align: center;
    gap: 2rem;
    ul{
      display: flex;
      gap: 3rem;
    }
    .social-links{
        margin-top: 5rem;
        display: flex;
        gap: 3rem;
    }
 }
}