@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



header{
    
    .logo{
        height: 3rem;
    }
    min-height: 10vh;
    position: absolute;
    left: 0;
    right: 0;
    padding: 3rem 3vw;
   .container{
    display: flex;

    justify-content: space-between;
    ul{
        display: flex;
        gap: 2rem;
        li{
            a{
                color: var(--white);
                @include transition;
            }
        }
        li:last-of-type{
            a{
                padding: 1rem 2.5rem;
                border-radius: 2rem;
                color: black;
                background-color: var(--white);


            }
        }
    }
   }
}