@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


body{
    height: 100vh;
    @include flex(center,center,column);
    background-color: #F7E9DC;
}


.balance{
    background-color: #EC755D;
    min-width: 50rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    p{
        color: white;
    }
    h3{
        color: white;
        font-weight: bold;
    }
}


.chart-container{
    width: 50rem;
    min-height: 50rem;
    border-radius: 1rem;
    background-color: white;

    .date-wrap{
        display: flex;
        justify-content: space-between;
    }
    .bar-wrap{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0rem 2rem;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;



    }
    .chart{
        height: 30rem;
        position: relative;

        .date-wrap{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0rem 2rem;


        }
    }
    .day{
        width: 5rem;
        text-align: center;
        p{
        color: #838383;
        }
        font-size: $text;
        padding-bottom: 1rem;
    }
    .bar{
        display: block;
        @include transition;
        background-color: #EC755D;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: 5rem;
        margin-bottom: 5rem;
        position: relative;
        cursor: pointer;
        .valueSHow{
            font-size: $text;
            position: absolute;
            top: -5rem;
            background-color: #3E2B1E;
            border-radius: 0.5rem;
            color: white;
            left: 50%;
            transform: translateX(-50%);
            padding: 1rem;
            opacity: 0;
            pointer-events: none;
            @include transition;
        }
        
    }
    .bar:hover .valueSHow{
        opacity: 1;
        pointer-events: all;
    }
    .bar:hover{
        background-color: #FF9B87;
    }
    .current:hover{
        background-color: #B4DFE5 !important;
    }
    
}


.total{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    h3{
        font-weight: bold;
    }
    h4{
        color: #838383;
    }
    p:last-of-type{
        color: #838383;


    }
    span{
        font-weight: bold;
    }
    .last-month{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content:flex-end;
    }
}
hr{
    scale: 0.95;
    opacity: 0.2;
}

h2{
    padding: 2rem;
}

