@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



// @media only screen and (max-width: 768px) {
   
//   }
@media only screen and (max-width: 992px) {
    footer{
        .row{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .col-lg:last-of-type{
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
       }
  }
// @media only screen and (max-width: 1200px) {
   