@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header{
    a:hover{
        opacity: 1;
        color: white;
    }
}

.hero{
    button:hover{
        background-image: linear-gradient(to right,#8CDAE4,#8CDAE4) ;
    }
}


.prod-link:hover{
    color: white;
    img{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(81deg) brightness(104%) contrast(102%);
    }
}

.newsletter input:hover{
    background-image: linear-gradient(to right,#8CDAE4,#8CDAE4) ;
}