@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header{
    .container{
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}