@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.col-lg {
  padding: 0rem !important;
}

.col-md {
  padding: 0rem !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 45rem;
  color: black;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
}

h1 {
  font-size: clamp(3.7rem, 5vw + 1rem, 4.5rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
  max-width: 35rem;
  color: black;
}

h2 {
  font-size: clamp(2.4rem, 4vw + 1rem, 3.2rem);
}

h3 {
  font-size: clamp(1.8rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 2rem;
}
.container .col:not(.user-col) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container .user-wrap {
  background-color: #5746EA;
  max-width: 40rem;
  min-width: 30rem;
  min-height: 40rem;
  padding: 4rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.container .user-wrap p {
  margin-top: 5rem;
  color: #787AB5;
}
.container .user-wrap h1 {
  color: white;
}
.container .user-wrap img {
  height: 10rem;
  border: 2px solid white;
  border-radius: 10rem;
}
.container .date-wrap {
  border-radius: 2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  background-color: #1D204B;
  max-width: 40rem;
  min-height: 20rem;
  padding-top: 6rem;
  padding-left: 2rem;
}
.container .date-wrap p {
  color: #787AB5;
  margin: 1rem 0rem;
}
.container .card {
  background-color: #1D204B !important;
  min-height: 29rem;
  min-width: 30rem;
  border-radius: 2rem;
}
.container .card p {
  color: white;
}
.container .card .wrap, .container .card .hours {
  padding: 2rem;
}
.container .card P:last-of-type {
  padding: 2rem;
}
.container .card .wrap {
  padding: 0rem !important;
}
.container .card .wrap img {
  padding: 0rem 2rem;
}
.container .color {
  position: relative;
  min-height: 6rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  overflow: hidden;
}
.container .color img {
  height: 5rem;
  position: absolute;
  right: 1rem;
  width: 6rem;
  object-fit: contain;
  scale: 1.3;
}
.container .hours {
  font-size: clamp(3.7rem, 5vw + 1rem, 4.5rem);
  padding-bottom: 0rem !important;
}
.container .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .work .color {
  background-color: #FF8B64;
}
.container .exercise .color {
  background-color: #4BCF83;
}
.container .play .color {
  background-color: #56C2E6;
}
.container .social .color {
  background-color: #7235D1;
}
.container .study .color {
  background-color: #FF5E7D;
}
.container .self-care .color {
  background-color: #F1C75B;
}
.container .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100rem;
}

.btn {
  cursor: pointer;
}

.active {
  color: white !important;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 58%;
  }
}

/*# sourceMappingURL=style.css.map */
