@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



// @media only screen and (max-width: 768px) {
   
//   }
// @media only screen and (max-width: 992px) {
   
//   }
// @media only screen and (max-width: 1200px) {
   

@media only screen and (max-width: 1102px) {
    header{
        ul{
            display: none;
        }
        button{
            display: none;
        }
        .fa-bars{
            display: block !important;
        }
    }
    footer{
        height: 65rem;
        .container{
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            .col:first-of-type{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                i{
                    font-size: 3rem;
                }
            }
            .col:last-of-type{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                p{
                    text-align: center;
                    margin: auto;
                }
            }
            ul{
                text-align: center;
            }
     
        }
    }
  }