@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
button:not(nav button) {
  padding: 1rem 2rem;
  border: none;
  border-radius: 20rem;
  font-weight: 700;
  white-space: nowrap;
  background: #6D4AFF;
  color: white !important;
}

header .button-wrap button:first-of-type {
  background: none;
  border: 2px solid #6D4AFF;
  color: #6D4AFF !important;
}
header .button-wrap button:last-of-type {
  background: #6D4AFF;
  color: white;
}
header nav button {
  cursor: pointer;
  padding: 0;
  background: none !important;
  border: none !important;
  color: #372580 !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .bottom button:first-of-type {
  background: none;
  border: 2px solid #6D4AFF;
  color: #6D4AFF !important;
}

main button {
  padding: 2rem 4rem !important;
}

.intro button {
  background-color: #6D4AFF;
  color: white;
}

body {
  background-color: #F7F5FF;
}

.container {
  padding: 0rem 5rem;
  max-width: 1700px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

.md-txt {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

.lg-txt {
  font-size: clamp(2.5rem, 3vw + 1rem, 2.6rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 65rem;
  color: #372580;
  font-weight: normal;
  line-height: 1.2;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
}

h1 {
  font-size: clamp(4.7rem, 5vw + 1rem, 5rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
  max-width: 50rem;
  color: #372580;
}

h2 {
  font-size: clamp(3.4rem, 4vw + 1rem, 3.6rem);
}

h3 {
  font-size: clamp(2.5rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.fa-bars {
  font-size: 3rem;
  display: none !important;
  cursor: pointer;
}

header {
  padding: 2rem 0rem;
}
header .logo {
  height: 2.5rem;
}
header .container {
  display: flex;
  align-items: center;
  align-items: baseline;
}
header .container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-left: 4rem;
}
header .container ul li {
  display: flex;
  align-items: center;
}
header .container ul li a {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .container ul li img {
  height: 0.8rem;
  margin-left: 0.5rem;
}
header .container .button-wrap {
  padding-left: 4rem;
  margin-left: auto;
  align-items: center;
  display: flex;
  gap: 2rem;
}
header .relative {
  position: relative;
}
header .dropdown {
  z-index: 100;
  position: absolute;
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(74, 45, 197, 0.1);
}
header .dropdown1 {
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(5rem);
  width: 86rem;
  border-radius: 0.5rem;
  padding: 2rem;
  top: 5rem;
}
header .dropdown1 .lg-txt {
  color: #372580;
  font-weight: 600;
  margin-bottom: 1rem;
}
header .dropdown1 .lg-txt span {
  color: #6D4AFF;
}
header .dropdown1 p {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
  width: 30rem;
}
header .dropdown1 .row {
  display: flex;
  width: 100%;
}
header .dropdown1 .row:last-of-type {
  margin-top: 3rem;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #F6F4FF;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .row:last-of-type a {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .dropdown1 .row:last-of-type .business-icon {
  height: 4rem;
}
header .dropdown1 .row:last-of-type p {
  width: 80rem !important;
  margin-top: 0.5rem;
  max-width: 56rem;
}
header .dropdown1 .row:last-of-type .angle {
  transform: rotate(-90deg) translateY(-0.1rem);
}
header .dropdown1 .row:last-of-type .icon-wrap {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .row:last-of-type .icon-wrap img {
  height: 1.1rem;
}
header .dropdown1 .tab {
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .tab-link img {
  min-height: 5rem;
  margin-right: 7rem;
}
header .dropdown1 .tab-link .img-wrap {
  margin-bottom: 3rem;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
header .dropdown1-link.active {
  color: #6D4AFF !important;
}
header .dropdown1.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
header .link-angle {
  transition: transform 0.1s ease-in;
}
header .link-angle.active {
  transform: rotate(180deg) !important;
}
header .dropdown2 {
  pointer-events: none;
  top: 5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(5rem);
  border-radius: 0.5rem;
  width: 86rem;
  display: flex;
  min-width: 100%;
}
header .dropdown2 .col {
  padding: 3rem;
  width: 50%;
}
header .dropdown2 .col:last-of-type {
  background-color: #F9FAFB;
}
header .dropdown2 .tab {
  display: flex;
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown2 .guide {
  display: flex;
  gap: 2rem;
}
header .dropdown2 .guide .icon-wrap {
  background-color: #E2DBFF;
  width: 8rem;
  height: 5.5rem;
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .dropdown2 .md-txt {
  color: #372580;
  font-weight: 600;
  margin-right: auto;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown2 p {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
}
header .dropdown2 .tab-link {
  display: flex;
  flex-direction: column;
}
header .dropdown2 .careers .md-txt::after {
  content: "WE'RE HIRING";
  right: 2rem;
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
  margin-left: 2rem;
  background-color: #E2DBFF;
  padding: 0.2rem 2rem;
  border-radius: 20rem;
  color: #6D4AFF;
}
header .dropdown2-link.active {
  color: #6D4AFF !important;
}
header .dropdown2.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}
header .dropdown3 {
  padding: 0rem 10rem;
  top: 5rem;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  width: 100vw;
  display: flex;
  left: 0;
  top: 8rem;
}
header .dropdown3 .col {
  padding: 5rem;
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
header .dropdown3 .tab {
  padding: 2rem;
  transform: translateX(-2rem);
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown3 .col:last-of-type {
  background-color: #F9FAFB;
}
header .dropdown3 .md-txt {
  color: #372580;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown3 .lg-txt::after {
  margin-top: 1rem;
  content: "";
  display: block;
  width: 6rem;
  background-color: #6D4AFF;
  height: 0.8rem;
  border-radius: 20rem;
}
header .dropdown3 p {
  max-width: 60rem;
}
header .dropdown3 .tab-link {
  display: flex;
  flex-direction: column;
}
header .dropdown3 .tab-link .md-txt, header .dropdown3 .tab-link p {
  margin-right: auto;
}
header .dropdown3-link.active {
  color: #6D4AFF !important;
}
header .dropdown3.active {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.mobile-navigation {
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transform: translateX(100%);
  background-color: white;
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  right: 0;
  width: 90%;
}
.mobile-navigation .container-mob {
  overflow-y: scroll;
  height: 100%;
  padding: 2rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.mobile-navigation .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation .top img {
  height: 3rem;
}
.mobile-navigation .top .close {
  height: 2rem;
  cursor: pointer;
}
.mobile-navigation nav {
  margin-top: 2rem;
}
.mobile-navigation nav ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.mobile-navigation nav a {
  color: #372580;
}
.mobile-navigation nav li {
  cursor: pointer;
}
.mobile-navigation nav li, .mobile-navigation nav a, .mobile-navigation nav button {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.mobile-navigation nav li img, .mobile-navigation nav a img, .mobile-navigation nav button img {
  margin-left: 0.5rem;
  height: 0.8rem;
  transform: rotate(-90deg);
}
.mobile-navigation .bottom {
  margin-top: auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top: 2px solid #E2DBFF;
}

.mobile-navigation.active {
  transform: translateX(0%);
  pointer-events: all;
}

.tab {
  cursor: pointer;
}

.back {
  cursor: pointer;
}

.mobile-dropdown1 {
  display: none;
}
.mobile-dropdown1 .lg-txt {
  font-weight: 600;
}
.mobile-dropdown1 .row {
  display: flex;
  flex-direction: column;
  transform: translateX(-4rem);
  margin-bottom: 2rem;
}
.mobile-dropdown1 .tab {
  border-radius: 0.5rem;
  min-width: calc(100% + 8rem) !important;
}
.mobile-dropdown1 .tab .img-wrap {
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
.mobile-dropdown1 .tab .img-wrap img {
  height: 8rem;
  min-width: 5rem;
}
.mobile-dropdown1 .tab-link {
  border-radius: 0.5rem;
  padding: 4rem;
  height: 13rem;
  min-width: calc(100% + 8rem) !important;
  display: flex;
  gap: 2em;
}
.mobile-dropdown1 .tab-link .img-wrap, .mobile-dropdown1 .tab-link .txt {
  transform: translateY(-2rem) translateX(4rem);
}
.mobile-dropdown1 .tab-link .md-txt {
  font-weight: 600;
}
.mobile-dropdown1 .tab-link p {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
  width: 30rem;
}
.mobile-dropdown1 .tab-link span {
  color: #6D4AFF;
}
.mobile-dropdown1 .tab-link:not(.business-tab-link) {
  transform: translateX(-6rem);
}
.mobile-dropdown1 .business-tab {
  width: 100%;
}
.mobile-dropdown1 .business-tab p {
  width: auto !important;
  max-width: 100% !important;
}
.mobile-dropdown1 .business-icon {
  height: 4rem;
  min-height: 4rem;
}
.mobile-dropdown1 .back {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.mobile-dropdown1 .back i {
  font-size: 3rem;
}
.mobile-dropdown1 .back span {
  opacity: 0.3;
}
.mobile-dropdown1 .business-tab-link {
  display: flex;
  align-items: center;
  background-color: #EEEAFF;
}
.mobile-dropdown1 .business-tab-link .angle {
  transform: rotate(-90deg) translateY(-0.1rem);
  height: 1rem;
}
.mobile-dropdown1 .business-tab-link .icon-wrap {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-dropdown1 .business-tab-link .icon-wrap img {
  height: 1.1rem;
}

.mobile-dropdown2 {
  display: none;
}
.mobile-dropdown2 .back {
  margin-top: 3rem;
  padding-bottom: 3rem !important;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.mobile-dropdown2 .back i {
  font-size: 3rem;
}
.mobile-dropdown2 .back span {
  opacity: 0.3;
}
.mobile-dropdown2 .tab-link p {
  max-width: 100% !important;
}
.mobile-dropdown2 .tab {
  width: calc(100% + 2rem);
  transform: translateX(-2rem);
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-dropdown2 .md-txt:not(.back .md-txt) {
  margin-bottom: 1rem;
}
.mobile-dropdown2 .md-txt {
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #372580;
}
.mobile-dropdown2 .col:last-of-type {
  border-top: 2px solid #E2DBFF;
  padding-top: 4rem;
}
.mobile-dropdown2 .careers {
  margin-bottom: 2rem;
}
.mobile-dropdown2 .careers .md-txt::after {
  content: "WE'RE HIRING";
  right: 2rem;
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
  margin-left: 2rem;
  background-color: #E2DBFF;
  padding: 0.2rem 2rem;
  border-radius: 20rem;
  color: #6D4AFF;
}

.mobile-dropdown3 {
  position: relative;
  display: none;
}
.mobile-dropdown3 .back {
  margin-top: 3rem;
  padding-bottom: 3rem !important;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.mobile-dropdown3 .back i {
  font-size: 3rem;
}
.mobile-dropdown3 .back span {
  opacity: 0.3;
}
.mobile-dropdown3 .lg-txt {
  color: #372580;
  margin-bottom: 2rem !important;
}
.mobile-dropdown3 .col {
  margin-bottom: 1rem;
}
.mobile-dropdown3 .col:not(.col:last-of-type) {
  margin-bottom: 3rem;
  border-bottom: 2px solid #E2DBFF;
}
.mobile-dropdown3 .tab {
  transform: translateX(-2rem);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 2rem;
  margin-bottom: 1rem;
  min-width: calc(100% + 2rem);
  border-radius: 0.5rem;
}
.mobile-dropdown3 .md-txt {
  color: #372580;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mobile-dropdown1.active {
  display: block !important;
}

.mobile-dropdown2.active {
  display: block !important;
}

.mobile-dropdown3.active {
  display: block !important;
}

.mob-nav.hide {
  display: none !important;
}

.plus {
  display: none !important;
}

footer {
  padding: 5rem 0rem;
}
footer .md-txt {
  color: #372580;
  font-weight: 600;
}
footer .part1 {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 2px solid #E2DBFF;
}
footer .part1 .letter {
  height: 10rem;
}
footer .part1 .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
footer .part1 .col ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .part1 .icon-wrap {
  display: flex;
  gap: 1rem;
}
footer .part1 .icon-wrap i {
  font-size: 2rem;
  color: #6D4AFF;
}
footer .part2 {
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 2rem;
}
footer .part2 p, footer .part2 li {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
}
footer .part2 .group {
  display: flex;
}
footer .part2 .group .col {
  width: 30rem;
}
footer .part2 .proton p {
  margin-bottom: 2rem;
}
footer .part2 .support p {
  margin-bottom: 2rem;
}
footer .part2 .support .wrap {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
footer .part2 .europe {
  margin-left: 4rem;
  padding-top: 4rem;
  display: flex;
  align-items: flex-start;
}
footer .part2 .europe img {
  margin-right: 1rem;
}
footer .part2 select {
  background-color: white;
  cursor: pointer;
  width: 15rem;
  height: 4rem;
  padding: 0rem 4rem;
  border-radius: 2rem;
  appearance: none;
  background-image: url("../icons/angle-down.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 12rem;
  position: relative;
  border: 2px solid #6D4AFF;
  color: #6D4AFF;
  font-weight: 600;
}
footer .part2 .select-wrap {
  position: relative;
}
footer .part2 .select-wrap .earth {
  filter: invert(35%) sepia(45%) saturate(6791%) hue-rotate(241deg) brightness(98%) contrast(106%);
  position: absolute;
  top: 50%;
  height: 1.5rem;
  left: 1rem;
  transform: translateY(-50%);
}
footer .part3 {
  padding-top: 2rem;
}
footer .part3 ul {
  display: flex;
  gap: 3rem;
}
footer .part4 {
  padding-top: 4rem;
}
footer .part4 ul {
  display: flex;
  gap: 0.5rem;
}
footer .part4 ul li {
  font-size: clamp(1rem, 1vw + 1rem, 1.2rem);
}
footer .part4 ul li::after {
  content: "";
  display: inline-block;
  height: 1.1rem;
  width: 1px;
  background-color: #6D4AFF;
  margin-left: 1rem;
  transform: translateY(0.1rem);
}

.intro {
  background-image: url(../images/index/intro-bg.webp);
  padding-top: 10rem;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 105vh;
  margin-bottom: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.intro h1 {
  max-width: 70rem;
  font-weight: 300;
}
.intro h1 span {
  font-weight: 600;
}
.intro .icon-wrap {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  gap: 4rem;
}
.intro .icon-wrap img {
  height: 12rem;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
.intro .icon-wrap a {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro .icon-wrap h5 {
  margin-top: 2rem;
}

.security .container {
  display: flex;
  width: 100%;
  align-items: center;
}
.security .container .col {
  width: 50%;
}
.security .container .col:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}
.security .container img {
  scale: 1.2;
  transform: translateX(6rem);
}

.data .data-link {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 1px solid transparent;
  padding: 3rem;
  border-radius: 2.5rem;
}
.data .heading {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.data .heading h2 {
  margin-bottom: 2rem;
}
.data .heading span {
  color: #6D4AFF;
}
.data .container {
  padding-right: 0;
  height: 70rem;
  background-color: white;
  display: flex;
}
.data .container a .data-icon {
  height: 5rem;
}
.data .container .col {
  width: 50%;
  height: 70rem;
}
.data .container .col:first-of-type {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.data .container .col:first-of-type .group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.data .container .col:first-of-type .name {
  gap: 2rem;
  display: flex;
  align-items: center;
}
.data .container .col:first-of-type .name h4 {
  font-weight: 600;
}
.data .container .col:first-of-type .name h4 span {
  color: #6D4AFF;
}
.data .container .col:first-of-type p {
  max-width: 30rem;
  padding: 2rem 0rem;
}
.data .container .col:first-of-type span {
  color: #6D4AFF;
  font-weight: 600;
}
.data .container .col:last-of-type img {
  width: 100%;
  height: 100%;
}
.data .discover {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}
.data .discover img {
  height: 0.7rem;
  margin-left: 1rem;
  rotate: -90deg;
  filter: invert(29%) sepia(98%) saturate(2940%) hue-rotate(241deg) brightness(100%) contrast(103%);
}
.data .discover::after {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
  position: absolute;
  width: 0%;
  background-color: #6D4AFF;
  height: 0.2rem;
  bottom: -0.5rem;
}
.data .slide {
  display: none;
}
.data .slide.active {
  display: block !important;
}
.data .group:nth-child(1):after {
  content: "";
  position: absolute;
  background-color: #EBECED;
  bottom: 50%;
  left: 10%;
  width: 200%;
  height: 0.1rem;
  display: block;
}
.data .group:nth-child(2):after {
  content: "";
  position: absolute;
  background-color: #EBECED;
  bottom: 50%;
  left: -96%;
  width: 170%;
  height: 0.1rem;
  display: block;
  rotate: 90deg;
}

.reason {
  padding: 0rem 5rem;
  max-width: 1700px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 80rem;
}
.reason h2 span {
  color: #6D4AFF;
}
.reason .icon-wrap {
  box-shadow: 14px 10px 7px hsla(0deg, 0%, 100%, 0.5), 54px 32px 30px rgba(74, 45, 197, 0.2), 32px 18px 16px rgba(74, 45, 197, 0.145), 16px 9px 7px rgba(74, 45, 197, 0.112), 7px 4px 3px rgba(74, 45, 197, 0.088), 1.5px 0.85px 1.35px rgba(74, 45, 197, 0.055);
  box-shadow: 28px 20px 10px hsla(0deg, 0%, 100%, 0.5), 107.708px 63.4353px 60px rgba(74, 45, 197, 0.2), 63.4183px 37.3507px 31.296px rgba(74, 45, 197, 0.145), 32.5708px 19.1828px 14.688px rgba(74, 45, 197, 0.112), 13.0973px 7.71373px 6.432px rgba(74, 45, 197, 0.088), 2.92965px 1.72544px 2.784px rgba(74, 45, 197, 0.055);
  background-color: white;
  padding: 4rem;
  border-radius: 10rem;
  position: absolute;
}
.reason .icon-wrap i {
  font-size: 4rem;
  color: #6D4AFF;
}
.reason .icon1 {
  left: 25rem;
  bottom: 20rem;
}
.reason .icon2 {
  top: 5rem;
  left: 30rem;
}
.reason .icon3 {
  top: 5rem;
  right: 50rem;
}
.reason .icon4 {
  right: 10rem;
}
.reason .icon5 {
  bottom: 10rem;
  left: 80rem;
}

.info {
  padding: 5rem 0rem;
}
.info h3 {
  font-weight: 600;
}
.info .container {
  display: flex;
  flex-direction: column;
}
.info .container .row {
  margin-bottom: 16rem;
  display: flex;
  gap: 4rem;
}
.info .container a {
  color: #6D4AFF;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}
.info .container a img {
  height: 0.7rem;
  margin-left: 0.5rem;
  rotate: -90deg;
}
.info .container a:after {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
  width: 0%;
  background-color: #6D4AFF;
  position: absolute;
  height: 0.2rem;
  bottom: -0.5rem;
}
.info .container .col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial {
  position: relative;
}

.testimonial {
  padding: 0rem 5rem;
  max-width: 1700px;
  margin: auto;
  padding-bottom: 10rem;
}
.testimonial .row {
  transition: 0.6s ease-in;
  transform: translateX(20rem);
  display: flex;
  gap: 5rem;
}
.testimonial .slideRow .col.slideOpacity {
  opacity: 0.5;
}
.testimonial h3 {
  height: 30rem;
}
.testimonial .col {
  transition: 0.6s ease-in;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
  border-radius: 2rem;
  padding: 5rem;
  background-color: white;
}
.testimonial .company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial .company img {
  height: 8rem;
}
.testimonial .button-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 10rem;
  left: 0;
  position: absolute;
  top: 20rem;
}
.testimonial .button-wrap .icon-wrap {
  cursor: pointer;
  min-width: 6rem;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  background-color: #A792FF;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.testimonial .button-wrap .icon-wrap img {
  height: 2rem;
  filter: invert(90%) sepia(97%) saturate(2%) hue-rotate(139deg) brightness(116%) contrast(101%);
}
.testimonial .button-wrap .left-wrap {
  rotate: 90deg;
  margin-right: auto;
}
.testimonial .button-wrap .right-wrap {
  rotate: -90deg;
  margin-left: auto;
}
.testimonial .lines {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}
.testimonial .lines .line {
  height: 0.5rem;
  background-color: #6D4AFF;
}
.testimonial .lines .line1 {
  width: 5rem;
}
.testimonial .lines .line2 {
  width: 10rem;
}
.testimonial .lines .color {
  background-color: #E2DBFF;
}
.testimonial .slideRow.left {
  transform: translateX(-20rem);
}
.testimonial .icon-wrap.hide {
  display: none !important;
}

.story {
  padding-top: 25rem;
  padding-bottom: 20rem;
}
.story .container {
  display: flex;
  gap: 4rem;
}
.story .container .col {
  width: 50%;
  position: relative;
}
.story .text {
  border-radius: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
  padding: 5rem;
}
.story .text a {
  position: relative;
  color: #6D4AFF;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.story .text a img {
  height: 0.7rem;
  rotate: -90deg;
  margin-left: 0.5rem;
}
.story .text a::after {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: "";
  position: absolute;
  width: 0%;
  background-color: #6D4AFF;
  height: 0.2rem;
  bottom: -0.5rem;
}
.story .img {
  position: absolute;
  top: -12rem;
  z-index: -1;
  width: 70%;
  height: 60rem;
  left: 20rem;
}
.story .img img {
  height: 20rem;
  height: 100%;
  width: 100%;
}

.account {
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
}
.account .letter {
  height: 10rem;
}
.account h2 {
  max-width: 50rem;
}
.account h2 span {
  color: #6D4AFF;
}
.account .icon-wrap {
  display: flex;
  gap: 2rem;
}
.account .icon-wrap img {
  height: 8rem;
}

.business {
  padding: 0rem 5rem;
  padding: 10rem 0rem;
  background-color: #FFFFFF;
}
.business .container {
  height: 70rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.business .col {
  width: 50%;
}
.business .col:first-of-type img {
  min-height: 60rem;
  width: 100%;
  transform: translateX(-16rem);
  scale: 1.2;
}
.business .col:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
}
.business .col:last-of-type img {
  height: 8rem;
}

header nav li:hover a {
  color: #6D4AFF;
}
header nav li:hover .link-angle {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
}
header .fa-bars:hover {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
}
header .closeIcon:hover {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
}
header .mob-nav button:hover {
  color: #6D4AFF !important;
}
header .mob-nav button:hover .link-angle {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%) !important;
}
header .mob-nav li:hover {
  color: #6D4AFF;
}
header .mob-nav li:hover .link-angle {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
}
header .dropdown1 .tab:hover {
  background-color: #F6F4FF;
}
header .dropdown1 .row:last-of-type:hover {
  background-color: #EEEAFF;
}
header .dropdown1 .row:last-of-type:hover .icon-wrap {
  background-color: #6D4AFF;
}
header .dropdown1 .row:last-of-type:hover .icon-wrap img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(87deg) brightness(104%) contrast(101%);
}
header .dropdown2 .tab:hover:not(.guide) {
  background-color: #F6F4FF;
}
header .dropdown2 .tab:hover:not(.guide) .md-txt {
  color: #6D4AFF;
}
header .dropdown3 .tab:hover {
  background-color: #F6F4FF;
}
header .dropdown3 .tab:hover .md-txt {
  color: #6D4AFF;
}
header .mobile-dropdown1 .tab:hover {
  background-color: #F6F4FF;
}
header .mobile-dropdown1 .row:last-of-type:hover {
  background-color: #EEEAFF;
}
header .mobile-dropdown1 .row:last-of-type:hover .icon-wrap {
  background-color: #6D4AFF;
}
header .mobile-dropdown1 .row:last-of-type:hover .icon-wrap img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(87deg) brightness(104%) contrast(101%);
}
header .mobile-dropdown2 .tab:hover:not(.guide) {
  background-color: #F6F4FF;
}
header .mobile-dropdown2 .tab:hover:not(.guide) .md-txt {
  color: #6D4AFF;
}
header .mobile-dropdown3 .tab:hover {
  background-color: #F6F4FF;
}
header .mobile-dropdown3 .tab:hover .md-txt {
  color: #6D4AFF;
}

.intro .icon-wrap a:hover {
  background-color: #EAE6FD;
  transform: translateY(-1rem);
}

.data-link:hover {
  border: 1px solid #6D4AFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.data-link:hover .link1::after {
  width: 60%;
}
.data-link:hover .link2::after {
  width: 60%;
}
.data-link:hover .link3::after {
  width: 74%;
}
.data-link:hover .link4::after {
  width: 60%;
}

.info a:hover::after {
  width: 20%;
}

.testimonial .icon-wrap:hover {
  background-color: #6D4AFF;
}

.story .link1:hover::after {
  width: 30%;
}
.story .link2:hover::after {
  width: 50%;
}

@media only screen and (max-width: 1050px) {
  .intro {
    background-image: none;
    min-height: auto;
  }
  .security {
    padding-top: 5rem;
    text-align: center;
  }
  .security .col {
    min-width: 100%;
  }
  .security .col:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .security .col:first-of-type button, .security .col:first-of-type h2, .security .col:first-of-type p {
    margin: auto;
  }
  .security img {
    scale: 1 !important;
  }
  .security .container {
    flex-direction: column;
  }
  .data .heading {
    padding-top: 5rem;
  }
  .data .col:last-of-type {
    display: none;
  }
  .data .col:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .reason {
    display: flex;
  }
  .reason h2 {
    order: 2;
  }
  .reason .icon-wrap {
    position: static;
  }
  .reason .icons {
    margin-bottom: 8rem;
    display: flex;
    gap: 2rem;
  }
  .reason .icons .icon1, .reason .icons .icon2 {
    display: none;
  }
  .testimonial .row {
    transform: translateX(4rem);
    gap: 10rem;
  }
  .testimonial .col {
    min-width: 40rem;
  }
  .slideRow.left {
    transform: translateX(-66rem) !important;
  }
  .story .container {
    flex-direction: column;
  }
  .story .container .col {
    width: 100%;
  }
  .story .container .col:first-of-type {
    margin-bottom: 30rem;
  }
  .story .container .text {
    width: 80%;
  }
  .account {
    padding-top: 10rem;
  }
  .business {
    min-height: 140rem;
  }
  .business .container {
    height: auto;
    flex-direction: column;
  }
  .business .container .col {
    width: 100%;
  }
  .business .container .col:first-of-type img {
    height: auto !important;
    width: auto;
    scale: 1 !important;
    transform: translateX(0);
    object-fit: contain;
  }
  .business .container .col:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .business .container .col:last-of-type img {
    margin: auto;
    height: 5rem;
  }
}
@media (max-width: 800px) {
  .testimonial .row {
    transform: translate(0);
  }
  .testimonial .row .col {
    min-width: 100%;
  }
  .testimonial .slideRow.left {
    transform: translateX(-112%) !important;
  }
}
@media only screen and (max-width: 1400px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 46%;
  }
}
@media only screen and (max-width: 1300px) {
  header .desk-nav {
    display: none;
  }
  header .fa-bars {
    display: block !important;
  }
}
@media only screen and (max-width: 1050px) {
  footer .part1 {
    flex-wrap: wrap;
  }
  footer .part1 .col {
    min-width: 100% !important;
    margin-bottom: 4rem;
  }
  footer .part1 ul {
    display: none !important;
    list-style: disc;
  }
  footer .part1 ul li {
    margin-left: 2.5rem;
  }
  footer .part1 .plus {
    background-color: #DED7FB;
    padding: 1rem;
    border-radius: 20rem;
    position: absolute;
    transform: translateY(-0.8rem);
    right: 3rem;
    display: inline-block !important;
  }
  footer .part1 .plus img {
    height: 2rem;
  }
  footer .part2 {
    flex-wrap: wrap;
  }
  footer .part2 .col {
    margin-bottom: 2rem;
  }
  footer .part2 .group {
    flex-wrap: wrap;
  }
  footer .part2 .group .col:first-of-type {
    min-width: 100%;
  }
  footer .part3 ul, footer .part4 ul {
    flex-direction: column;
  }
  footer .part4 li::after {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
