@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 20rem;
  font-weight: 700;
}

header button:first-of-type {
  background: none;
  border: 2px solid #6D4AFF;
  color: #6D4AFF;
}
header button:last-of-type {
  background: #6D4AFF;
  color: white;
}

.container {
  max-width: 1700px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 45rem;
  color: #372580;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
}

h1 {
  font-size: clamp(3.7rem, 5vw + 1rem, 4.5rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
  max-width: 35rem;
  color: #372580;
}

h2 {
  font-size: clamp(2.4rem, 4vw + 1rem, 3.2rem);
}

h3 {
  font-size: clamp(1.8rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 2rem 0rem;
}
header .logo {
  height: 2.5rem;
}
header .container {
  display: flex;
  align-items: center;
  align-items: baseline;
}
header .container ul {
  display: flex;
  gap: 3rem;
  margin-left: 4rem;
}
header .container ul li a {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .container ul li img {
  height: 0.8rem;
  margin-left: 0.5rem;
}
header .container .button-wrap {
  margin-left: auto;
  display: flex;
  gap: 2rem;
}
header .relative {
  position: relative;
}
header .dropdown {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
}
header .dropdown1 {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  transform: translateY(5rem);
  width: 86rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(74, 45, 197, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  top: 5rem;
}
header .dropdown1 h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}
header .dropdown1 p {
  font-size: clamp(1.1rem, 1vw + 1rem, 1.4rem);
  width: 30rem;
}
header .dropdown1 span {
  color: #6D4AFF;
}
header .dropdown1 .row {
  display: flex;
  width: 100%;
}
header .dropdown1 .row:last-of-type {
  margin-top: 3rem;
  border-radius: 0.5rem;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #F6F4FF;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .row:last-of-type a {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .dropdown1 .row:last-of-type .business-icon {
  height: 4rem;
}
header .dropdown1 .row:last-of-type p {
  width: 80rem !important;
  margin-top: 0.5rem;
  max-width: 56rem;
}
header .dropdown1 .row:last-of-type .angle {
  transform: rotate(-90deg) translateY(-0.1rem);
}
header .dropdown1 .row:last-of-type .icon-wrap {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .row:last-of-type .icon-wrap img {
  height: 1.1rem;
}
header .dropdown1 .tab {
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
header .dropdown1 .tab-link img {
  min-height: 5rem;
  margin-right: 7rem;
}
header .dropdown1 .tab-link .img-wrap {
  margin-bottom: 3rem;
  filter: drop-shadow(22.7119px 23.941px 80px rgba(74, 45, 197, 0.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74, 45, 197, 0.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74, 45, 197, 0.0431852));
}
header .dropdown1-link.active {
  color: #6D4AFF !important;
}
header .dropdown1.active {
  opacity: 1;
  transform: translateY(0);
}
header .link-angle {
  transition: transform 0.1s ease-in;
}
header .link-angle.active {
  transform: rotate(180deg) !important;
}

header nav li:hover a {
  color: #6D4AFF;
}
header nav li:hover .link-angle {
  filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
}
header .dropdown1 .tab:hover {
  background-color: #F6F4FF;
}
header .dropdown1 .row:last-of-type:hover {
  background-color: #EEEAFF;
}
header .dropdown1 .row:last-of-type:hover .icon-wrap {
  background-color: #6D4AFF;
}
header .dropdown1 .row:last-of-type:hover .icon-wrap img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(87deg) brightness(104%) contrast(101%);
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 58%;
  }
}

/*# sourceMappingURL=style.css.map */
