@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;




@media only screen and (max-width: 1400px) {

    .desknav{
        display: none !important;
        ul{
            display: none !important;
        }
    }
    .fa-bars{
        display: block !important;
    }
}
   
@media only screen and (max-width: 900px) {
    header{
        .button-wrap{
            a{
                display: none;
            }
        }
    
    }
 footer{
    .proton-footer{
        margin-bottom: 5rem;
    }
    .row1{
        .foot-plus{
            display: block;
            height: 2rem;
        }
        .plus-wrap{
            width: 3rem;
            height: 3rem;
            border-radius: 20rem;
            background-color: #EFEBFF;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                filter: invert(53%) sepia(62%) saturate(6838%) hue-rotate(234deg) brightness(103%) contrast(101%);

            }
        }
        flex-direction: column;
        ul{
            display: none;
        }
        .accordUl{
            margin-left: 4rem;
            margin-bottom: 4rem;
            list-style: disc;
            li{
                margin-bottom: 1.5rem;
            }
        }
        .accord{
            cursor: pointer;
        }
        .accordUl.active{
            display: block;
        }
        .lg-txt{
            margin-bottom: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .row2{
        .europe{
            margin-bottom: 4rem;
        }
        .group{
            flex-wrap: wrap;
        }
        flex-wrap: wrap;
    }
    .row3{
        ul{
            flex-direction: column;
        }
    }
    .row4{
        ul{
            flex-direction: column;
        }
    }
 }
}



@media only screen and (max-width: 700px){
    .mobdropdown1 {
        .tab{
            padding: 1.5rem !important;
            margin-bottom: 1rem;
        }
        .icon{
            transform: translateX(1rem);
        }
      .business-tab{
        p{
            max-width: 25rem !important;
        }
      }
    
    }
    .mobdropdown3 {
        .tab{
            p{
                max-width: auto !important;
            }
        }
    }
}

@media only screen and (max-width: 400px){
    .mobdropdown1 {
        .business-tab{
            p{
                max-width: 15rem !important;
            }
          }
    
    }
}
