@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



.container{
  padding: 0rem 2rem;
  max-width: 1500px;
  margin: auto

}

.container-fluid{
  @include transition;
  }
  
.col-lg{
  padding: 0rem !important;
}
.col-md{
  padding: 0rem !important;
}
