// FONT SIZES

$header1: clamp(4rem,3vw + 1rem,4.9rem); 
$header2: clamp(2.4rem,4vw + 1rem,3.2rem);
$header3: clamp(1.8rem,3vw + 1rem,2.6rem); 
$header4: clamp(1.4rem,2vw + 1rem,2rem);
$header5: clamp(1.5rem,2vw + 1rem,2rem);
$header6: clamp(1rem,1vw + 1rem,1.3rem);
$text: clamp(1.3rem,2vw + 1rem,1.6rem);
$logo: clamp(1.8rem,2vw + 1rem,2.4rem);



//TEXT COLORS

$text-color-black: black;
$text-color-white: white;

// BLACK AND WHTIE
$black:black;
$white:white;

// COLOR PALLETE

$color-main:#005E4B;

$purple: #666ca3;
$blue: #13183f;
$gray: #ACADAF;
$pink-dark: #f74780;
$pink-light: #ffa7c3;
$white: #fff;

/* Gradient Colors */
$gradient-pink: #f02aa6;
$gradient-orange: #ff6f48;
$gradient-blue: #4851ff;
$gradient-background-bottom: #f0f1ff;