@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



.container-fluid{
  @include transition;
  }
  
.col-lg{
  padding: 0rem !important;
}
.col-md{
  padding: 0rem !important;
}

body{
  background-image: url(../images/pattern-background-desktop.svg);
  background-color: #E0E8FF;
  @include background;
}