@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



header{
    li{
        .nav-link:hover{
            color: $purple-main;
        }
        button:hover{
            color: $purple-main;
            filter: invert(31%) sepia(82%) saturate(3565%) hue-rotate(241deg) brightness(99%) contrast(104%);
        }
    }
    a:first-of-type{
        button:hover{
            border: 2px solid $color-hover;
            background: #EFEBFF;
            color: $color-hover !important;
        }
    }
    a:last-of-type{
        button:hover{
            background: $color-hover !important;
        }
    }
    .desknav{
        .dropdown1{
            .group:not(.group-last-of-type){
                .tab:hover{
                    background-color: $dropdown1;
                }
               }
               .group:last-of-type{
                .tab:hover{
                    background-color: $icon-hover;
                    .icon-wrap{
                        background-color: $purple-main;
                        img{
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(107%) contrast(102%);
                        }
                    }
                }
               }
        }
        .dropdown2{
            .tab:hover{
                background-color: $icon-hover;
                .md-txt{
                    color: $purple-main;
                }
    
            }
        }
        .dropdown3{
            .tab:hover{
                background-color: $icon-hover;
                .md-txt{
                    color: $purple-main;
                }
            }
        
        }

    }
    .mobile-header{
        .mobdropdown1{
            .group:not(.group-last-of-type){
                .tab:hover{
                    background-color: $dropdown1;
                }
               }
               .group:last-of-type{
                .tab:hover{
                    background-color: $icon-hover;
                    .icon-wrap{
                        background-color: $purple-main;
                        img{
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(107%) contrast(102%);
                        }
                    }
                }
               }
        }
        .moblink:hover{
            color: $purple-main;
            
        }
        .notbutton:hover{
            img{
                filter: invert(31%) sepia(82%) saturate(3565%) hue-rotate(241deg) brightness(99%) contrast(104%);

            }

        }
        .mobdropdown2{
            .tab:hover{
                background-color: $icon-hover;
                .md-txt{
                    color: $purple-main;
                }
            }
        }
        .mobdropdown3{

            .tab:hover{
                background-color: $icon-hover;
                .md-txt{
                    color: $purple-main;
                }
            }

        }
     .bottom{
        a:first-of-type{
            button:hover{
                border: 2px solid $color-hover;
                background: #EFEBFF;
                color: $color-hover !important;
            }
        }
        a:last-of-type{
            button:hover{
                background: $color-hover !important;
            }
        }
     }
    }
}

main{
    button:hover{
        background: $color-hover;
    }
}


.intro{
    .icon-wrap{
        a:hover{
            background: $icon-hover;
            transform: translateY(-0.5rem);
        }
    }
}

.rules{
    .tab:hover{
        border: 2px solid $purple-main;
        p{
            color: $purple-main;
        }
        .disc1::after{
            width: 64%;
        }
        .disc2::after{
            width: 79%;
        }
        .disc3::after{
            width: 67%;
        }
        .disc4::after{
            width: 64%;
        }
    }
}

.info{
    .learn:hover::after{
        width: 20%;
    }
}

footer{
    .plus-wrap:hover{
        background: none !important;
    }
}

