@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header{
    
    //HEADER links
    nav{
        li:hover{
            a{
            color: $purple-main;

            }
            .link-angle{
                filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
            }
        }
    
    }
    .fa-bars:hover{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
    }
    .closeIcon:hover{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
    }
    .mob-nav{
        button:hover{
            color: $purple-main !important;
            .link-angle{
                filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%) !important;
        
                    }
        }
        li:hover{
            color: $purple-main;
            .link-angle{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);

            }

        }
    }

    
    
    //DROPDOWN1
    .dropdown1{
        .tab:hover{
            background-color: $purple-gray;
        }

        .row:last-of-type:hover{
            background-color: $purple-gray2;
            .icon-wrap{
                background-color: $purple-main;
               img{
                filter: invert(100%) sepia(0%) saturate(02%) hue-rotate(87deg) brightness(104%) contrast(101%);
               }
            }
        }

    }
    //DROPDOWN2{
        .dropdown2{

            .tab:hover:not(.guide){
                background-color: $purple-gray;
                .md-txt{
                    color: $purple-main;
                }
            }
        }
    //DROPDOWN3

        .dropdown3{
            .tab:hover{
                background-color: $purple-gray;
                .md-txt{
                    color: $purple-main;
                }
            }
        }

    //MOBILE DROPDOWN

    .mobile-dropdown1{
        .tab:hover{
            background-color: $purple-gray;
        }

        .row:last-of-type:hover{
            background-color: $purple-gray2;
            .icon-wrap{
                background-color: $purple-main;
               img{
                filter: invert(100%) sepia(0%) saturate(02%) hue-rotate(87deg) brightness(104%) contrast(101%);
               }
            }
        }
    }
    .mobile-dropdown2{
        .tab:hover:not(.guide){
            background-color: $purple-gray;
            .md-txt{
                color: $purple-main;
            }
        }
    }
    .mobile-dropdown3{
        .tab:hover{
            background-color: $purple-gray;
            .md-txt{
                color: $purple-main;
            }
        }
    }

}

.intro{
    .icon-wrap{
        a:hover{
            background-color: $icon-hover;
            transform: translateY(-1rem);

        }
    }
}


.data-link:hover{
    border: 1px solid $purple-main;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .link1::after{
        width: 60%;
    }
    .link2::after{
        width: 60% ;
    }
    .link3::after{
        width: 74% ;
    }
    .link4::after{
        width: 60% ;
    }

}


.info{
    a:hover::after{
        width: 20%;
    }
}

.testimonial{
    .icon-wrap:hover{
        background-color: $purple-main;

    }
}

.story{
    .link1:hover::after{
        width: 30%;
}
    .link2:hover::after{
        width: 50%;
}
}