@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header{
    
    //HEADER links
    nav{
        li:hover{
            a{
            color: $purple-main;

            }
            .link-angle{
                filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
            }
        }
    
    }
    .fa-bars:hover{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
    }
    .closeIcon:hover{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);
    }
    .mob-nav{
        li:hover{
            color: $purple-main;
            .link-angle{
        filter: invert(31%) sepia(94%) saturate(3179%) hue-rotate(240deg) brightness(98%) contrast(106%);

            }

        }
    }

    
    
    //DROPDOWN1
    .dropdown1{
        .tab:hover{
            background-color: $purple-gray;
        }

        .row:last-of-type:hover{
            background-color: $purple-gray2;
            .icon-wrap{
                background-color: $purple-main;
               img{
                filter: invert(100%) sepia(0%) saturate(02%) hue-rotate(87deg) brightness(104%) contrast(101%);
               }
            }
        }

    }
    //DROPDOWN2{
        .dropdown2{

            .tab:hover:not(.guide){
                background-color: $purple-gray;
                h4{
                    color: $purple-main;
                }
            }
        }
    //DROPDOWN3

        .dropdown3{
            .tab:hover{
                background-color: $purple-gray;
                h4{
                    color: $purple-main;
                }
            }
        }

    //MOBILE DROPDOWN

    .mobile-dropdown1{
        .tab:hover{
            background-color: $purple-gray;
        }

        .row:last-of-type:hover{
            background-color: $purple-gray2;
            .icon-wrap{
                background-color: $purple-main;
               img{
                filter: invert(100%) sepia(0%) saturate(02%) hue-rotate(87deg) brightness(104%) contrast(101%);
               }
            }
        }
    }
    .mobile-dropdown2{
        .tab:hover:not(.guide){
            background-color: $purple-gray;
            h4{
                color: $purple-main;
            }
        }
    }

}