@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}


.container-fluid{
  @include transition;
  }
  
.col-lg{
  padding: 0rem !important;
}
.col-md{
  padding: 0rem !important;
}
