@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.col-lg {
  padding: 0rem !important;
}

.col-md {
  padding: 0rem !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: clamp(1.8rem, 2vw + 1rem, 2.4rem);
}

h1, h2, h3, h4, h5, h6 {
  max-width: 45rem;
  color: black;
}

i {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
}

h1 {
  font-size: clamp(3.7rem, 5vw + 1rem, 4.5rem);
}

li,
button,
label,
input,
a,
p {
  font-size: clamp(1.3rem, 2vw + 1rem, 1.6rem);
  max-width: 35rem;
  color: black;
}

h2 {
  font-size: clamp(2.4rem, 4vw + 1rem, 3.2rem);
}

h3 {
  font-size: clamp(1.8rem, 3vw + 1rem, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 1rem, 1.3rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.deskBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  z-index: -1;
}

.container {
  display: flex;
}
.container .col {
  width: 50%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.container .cards {
  display: grid;
  gap: 2rem;
}
.container .card1, .container .card2 {
  border-radius: 1rem;
  min-width: 40rem;
  max-width: 40rem;
}
.container .card1 {
  transform: translateX(-5rem);
}
.container .card2 {
  position: relative;
  transform: translateX(5rem);
}
.container .card2 .cvc {
  position: absolute;
  max-width: 5.5rem;
  top: 49%;
  left: 80%;
  transform: translateY(-50%) translateX(1rem);
  text-orientation: upright;
  overflow: hidden;
}
.container .card1 {
  background-image: url(../images/bg-card-front.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 40rem;
  height: 22rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .card1 .circles {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .card1 .circles .circle {
  padding: 2rem;
  display: block;
  background-color: white;
  max-width: 1rem;
  height: 1rem;
  border-radius: 10rem;
}
.container .card1 .circles .circle2 {
  background: none;
  scale: 0.5;
  border: 2px solid white;
}
.container .card1 .number {
  color: white;
  font-size: 3rem;
}
.container .card1 .name, .container .card1 .year {
  color: white;
}
.container .card1 .year, .container .card1 .name {
  font-size: 1.5rem;
}
.container .card1 .nameYear {
  display: flex;
  justify-content: space-between;
}
.container .card1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container .card2 {
  background-image: url(../images/bg-card-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 40rem;
  height: 22rem;
}

.date-wrap {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formContainer input {
  margin-top: 0.5rem;
  padding: 1rem 0rem !important;
  min-height: 4.5rem;
  max-height: 4.5rem;
  border-radius: 0.5rem;
}
.formContainer input:focus {
  outline: none;
}
.formContainer .cardName input {
  min-width: 40rem;
  text-indent: 10px;
}
.formContainer .cardName p {
  color: #220930;
  font-weight: 500;
}
.formContainer .cardNumber input {
  min-width: 40rem;
  text-indent: 10px;
}
.formContainer .cardNumber p {
  color: #220930;
  font-weight: 500;
}
.formContainer .dateCvc {
  display: flex;
  gap: 2rem;
}
.formContainer .dateCvc .date p {
  color: #220930;
  font-weight: 500;
}
.formContainer .dateCvc .date .inputs {
  display: flex;
  gap: 1rem;
}
.formContainer .dateCvc .date .inputs input {
  max-width: 9rem !important;
  text-indent: 10px;
}
.formContainer .dateCvc .cvc p {
  text-orientation: sideways;
  font-weight: 500;
  color: #220930;
}
.formContainer .dateCvc .cvc input {
  width: 19rem;
  text-indent: 10px;
}
.formContainer .submitBtn {
  min-width: 40rem;
  background-color: #220930;
  color: white;
  border: none;
}

.errText {
  color: #C55C60 !important;
}

.warning {
  color: #C55C60 !important;
}

.pass {
  color: #C55C60 !important;
}

.thanks {
  display: none !important;
  flex-direction: column;
  gap: 2rem;
}
.thanks button {
  min-width: 40rem;
  padding: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: #220930;
  color: white;
  border: none;
}

.activeThanks {
  display: flex !important;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 58%;
  }
}

/*# sourceMappingURL=style.css.map */
