@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



.container{
  padding: 0rem 1rem;
  max-width: 1100px !important;
  margin: auto;
}


body{
  background-color: #F8F8FF;
}