@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


header {
    background-color: #1C2230;
    min-height: 5vh;
    padding: 3rem 0rem;
    a{
        color: white;
        opacity: 0.5;
        cursor: pointer;
    }
    img{
        height: 4rem;
    }
    .containerM{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        ul{
            display: flex;
            gap: 3rem;
        }
    }
}