@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

.fa-bars{
    font-size: 3rem;
    display: none !important;
    cursor: pointer;
}

header{
    padding: 2rem 0rem;
    .logo{
        height: 2.5rem;
    }
    .container{
        display: flex;
        align-items: center;
        align-items: baseline;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            margin-left: 4rem;
            li{
               a{
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 0.5rem;
               }
                img{
                    height: 0.8rem;
                    margin-left: 0.5rem;
                }
            }
        }
        .button-wrap{
            padding-left: 4rem;
            margin-left: auto;
            align-items: center;
            display: flex;
            gap: 2rem;
        }
    }
    .relative{
        position: relative;
    }
    // DROPDOWN ++++++++

    .dropdown{
        position: absolute;
        background-color: white;
        box-shadow: 0 .25rem .5rem 0 rgba(74,45,197,.1);

    }
    // DROPDOWN 1 ++++++++

    .dropdown1{
        pointer-events: none;
        @include transition;
        opacity: 0;
        transform: translateY(5rem);
        width: 86rem;
        border-radius: 0.5rem;
        padding: 2rem;
        top: 5rem;
        h3{
        font-weight: 600;
        margin-bottom: 1rem;
        }
        p{
            font-size: $text-small;
            width: 30rem;
        }
        span{
            color: $purple-main;
        }
        .row{
            display: flex;
            width: 100%;
        }
        .row:last-of-type{
            margin-top: 3rem;
            border-radius: 0.5rem;
            padding: 2rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            background-color: $purple-gray;
            width: 100%;
            @include transition;
            a{
                min-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
         
            .business-icon{
              
                height: 4rem;
            }
            p{
                width: 80rem !important;
                margin-top: 0.5rem;
                max-width: 56rem;
            }
            .angle{
                transform: rotate(-90deg) translateY(-0.1rem);
            }
            .icon-wrap{
                img{
                    height:1.1rem;
                }
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5rem;
            @include transition;
            }
        }
        .tab{
            width: 50%;
            padding: 1rem;
            border-radius: 0.5rem;
            @include transition;
        }
        .tab-link{
            img{
                min-height: 5rem;
                margin-right: 7rem;
            }
            .img-wrap{
                margin-bottom: 3rem;
                filter: drop-shadow(22.7119px 23.941px 80px rgba(74,45,197,.11)) drop-shadow(8.74828px 9.22171px 25.4815px rgba(74,45,197,.0668148)) drop-shadow(1.8506px 1.95075px 6.51852px rgba(74,45,197,.0431852));
            }
        }

   
    }
    .dropdown1-link.active{
        color: $purple-main !important;

    }
    .dropdown1.active{
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }
    .link-angle{
        transition: transform 0.1s ease-in;

    }
    .link-angle.active{
        transform: rotate(180deg) !important;
    }

    // DROPDOWN 2 ++++++++

    .dropdown2{
        pointer-events: none;
        top: 5rem;
        @include transition;
        opacity: 0;
        transform: translateY(5rem);
        border-radius: 0.5rem;
        width: 86rem;
        display: flex;
        min-width: 100%;
        .col{
        padding: 3rem;
            width: 50%;
        
        }
        .col:last-of-type{
            background-color: $dropdown-grey;

        }
        .tab{
            display: flex;
            border-radius: 0.5rem;
            padding: 2rem;
            @include transition;
        }
        .guide{
            .icon-wrap{
                background-color: $icon-purple;
                width: 8rem;
                height: 5.5rem;
                border-radius: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }
            display: flex;
            gap: 2rem;
        }
        h4{
            font-weight: 600;
            margin-right: auto;
            @include transition;
        }
        p{
            
            font-size:  $text-small;
        }
        .tab-link{
            display: flex;
            flex-direction: column;

        }
        .careers{
            h4::after{
                content: "WE'RE HIRING";
                right: 2rem;
                font-size: $text-small;
                margin-left: 2rem;
                background-color: $icon-purple;
                padding: 0.2rem 2rem;
                border-radius: 20rem;
                color: $purple-main;
        }


        }
    }
    
    .dropdown2-link.active{
        color: $purple-main !important;

    }
    .dropdown2.active{
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    // DROPDOWN 3 ++++++++

    .dropdown3{
        padding: 0rem 10rem;
        top: 5rem;
        pointer-events: none;
        @include transition;
        opacity: 0;
        width: 100vw;
        display: flex;
        left: 0;
        top: 8rem;
        .col{
            padding: 5rem;
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .tab{
            padding: 2rem;
            transform: translateX(-2rem);
            border-radius: 0.5rem;
            @include transition;
        }
        .col:last-of-type{
            background-color: $dropdown-grey;

        }
        h4{
            font-weight: 600;
            @include transition;
        }
        h3::after{
            margin-top: 1rem;
            content: '';
            display: block;
            width: 6rem;
            background-color: $purple-main;
            height: 0.8rem;
            border-radius: 20rem;
        }
        p{
            max-width: 60rem;
        }
        .tab-link{
            display: flex;
            flex-direction: column;
            h4,p{
                margin-right: auto;
            }
        }
    }
    .dropdown3-link.active{
        color: $purple-main !important;

    }
    .dropdown3.active{
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }
}


.mobile-navigation{
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    // transform: translateX(100%);
    pointer-events: none;
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 100%;
    top: 0;
    right: 0;
    .container-mob{
        height: 100%;
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            height: 3rem;
        }
        .close{
            height: 2rem;
            cursor: pointer;
        }
      
    }
    nav {
        ul{
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }
        a{
            color: $text-purple-black ;
        }
        li{
            cursor: pointer;
        }
        li,a{
            font-weight: 600;
            display: flex;
            align-items: center;
            img{
                margin-left: 0.5rem;
                height: 0.8rem;
                transform: rotate(-90deg);
            }
        }
    }
    .bottom{
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    width: 80%;
}

.mobile-navigation::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 10rem;
    width: 100%;
    height: 0.1rem;
    background-color: #E2DBFF;
}

.mobile-navigation.active{
    transform: translateX(0%);
    pointer-events: all;
}



// MOBILE DROPDOWN
.mob-nav{
    display: none;
}

.mobile-dropdown1{
    
}