@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

button{
    cursor: pointer;
    white-space: nowrap;
    @include transition;
}

header{
    nav{
        button{
            background: none;
            border: none;
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                height: 0.7rem;
            }
        }
    }
    .button-wrap{
        button{
            padding: 1rem 3rem;
            border-radius: 20rem;
            border: 2px solid transparent;
        }
        a:first-of-type{
            button{
                background: none;
                border: 2px solid $purple-main;
                color: $purple-main;
            }
        }
        a:last-of-type{
            button{
                background: $purple-main;
                color: $text-color-white;
            }
        }
    }
    .mobile-header{
        .bottom{
            button{
                padding: 1rem 3rem;
                border-radius: 20rem;
                border: 2px solid transparent;
                font-weight: 600;
            }
            a:first-of-type{
                button{
                    background: none;
                    border: 2px solid $purple-main;
                    color: $purple-main;
                }
            }
            a:last-of-type{
                button{
                    background: $purple-main;
                    color: $text-color-white;
                }
            }
        }
    }
}

main{
    button{
        background-color: none;
        padding: 2rem 4rem;
        border: 2px solid transparent;
        border-radius: 20rem;
        background: $purple-main;
        color: $text-color-white;
        font-weight: 600;
        font-size: $mainBtn;
    }
    .data{
        button{
            min-width: 42rem;
        }
    }
}