@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

body{
    
    background-color: #F7F5FF;
}





.container{
    padding: 0rem 8rem;
    max-width: 1900px !important;
    margin: auto;
}
  
