@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


.intro{
    .containerM{
    background-color: white;
        display: flex;
        position: relative;
        height: clamp(40rem,55vw,90rem);
   
        .img-wrap{
            width: 100%;
            height: 100%;
           
        }
        img{
            height: 100%;
            width: 100%;

        }
        .col{
            position: relative;
            a{
                text-decoration: underline;
                font-weight: bold;
            }
        }

        .colM1::after,.colM2::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
            z-index: 2;
            top: 0;
        }

        .colM1{
            left: 0;
            height: clamp(35rem,40vw,60rem);
            position: absolute;
            width: 60%;
            h1{
                color: $yellow;
            }
            a{
                color: $yellow;
            }
        }
     
        .colM2{
            position: absolute;
            right: -5%;
            width: 30%;
            bottom: 0rem;
            height: 33rem;
            transform: translateX(-100%);
            h2{
            color: $light-blue;
            }
            a{
            color: $light-blue;
            }
            z-index: 20;

         
        }
        .colM3{
            position: absolute;
            width: 30%;
            right: 0;
            height: 33rem;
            bottom: 30%;
        }
        .colM2,.colM3{
            height: clamp(18rem,22vw,35rem);
        }
        .text{
            padding: 5rem;
            position: absolute;
            top: 0;
            z-index: 5;
            h1,h2{
                font-weight: bold;
            }

        }
       
    }
}


.youtube-post{
    cursor: pointer;
    .img-wrap{
        position: relative;
    }
    i{
        color: $blue;
        font-size: 5rem;
    }
}


.fa-circle-play{
    position: absolute;
    z-index: 5;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.modal-wrap{
    display: none;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.modal-bg{
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.showModal{
    display: block !important;
}


.modal{
    position: relative;
    width: clamp(20rem,80vw,100rem);
    height: 50rem;
    iframe{
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.modal-click{
    z-index: 20;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.video-close{
    color: white;
    font-size: 10rem;
    position: absolute;
    top: -10rem;
    right: -10rem;
    cursor: pointer;
}

.post{
    h4{
        font-weight: 500;
    }
   .post-wrap{
    min-width: 100%;
   }
    .heading{
        h2,li,a{
            padding-bottom: 5rem;
            font-weight: 500;
        }
        a{
            color: $blue;
        }
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 3rem;
        }
    }
    .containerM{
        padding: 0rem 15rem;
    }
    .rowM{
        .colM{
            position: relative;
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        display: flex;
        gap: 4rem;
        img{
            width: 100%;
            height: 20rem;
        }
    }
    h6{
        margin-top: 2rem;
    }
}


.post1{
    .containerM{
        padding-top: 10rem;
        background-color: white;
    }
    .colM:nth-of-type(1){
        h6{
            color: $yellow;
        }
    }
    .colM:nth-of-type(2){
        h6{
            color: $light-blue;
        }
    }
    .colM:nth-of-type(3){
        h6{
            color: $light-blue;
        }
    }
}

.post2{
    .containerM{
        padding-top: 5rem;
        background-color: white;
    }
    .colM:nth-of-type(1){
        h6{
            color: $pink;
        }
    }
    .colM:nth-of-type(2){
        h6{
            color: $light-blue2;
        }
    }
    .colM:nth-of-type(3){
        h6{
            color: $yellow;
        }
    }
}
.post3{
    .containerM{
        padding-top: 5rem;
        background-color: white;
    }
}

.videos{
    h4{
        margin-top: 2rem;
    }
}

.post4{
    .containerM{
        padding-top: 5rem;
        background-color: white;
    }
    h4{
        margin-top: 2rem;
    }
}


.links-section{
    padding: 8rem 0rem;
    .link-wrap{
        display: flex;
        gap: 3rem;
        justify-content: center;
    }
    p{
        font-weight: bold;
    }
    ul{
        display: flex;
        gap: 3rem;
    }
    a{
        color: $blue;
        font-weight: bold;
    }
}

