@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



button:not(nav button){
    padding: 1rem 2rem;
    border: none;
    border-radius: 20rem;
    font-weight: 700;
    white-space: nowrap;
    background: $purple-main;
    color: $text-color-white !important;
}

header{
   
    .button-wrap{
        button:first-of-type{
            background: none;
            border: 2px solid $purple-main;
            color: $purple-main !important;
        }
        button:last-of-type{
            background: $purple-main;
            color: $text-color-white;
        }
    
    }
    nav{
        button{
            cursor: pointer;
            padding: 0;
            background: none !important;
            border: none !important;
            color: $text-purple-black !important;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
    .bottom{
        button:first-of-type{
            background: none;
            border: 2px solid $purple-main;
            color: $purple-main !important;
        }
    }
}

main{
    button{
        padding: 2rem 4rem !important;
    }
}

.intro{
    button{
        background-color: $purple-main;
        color: $text-color-white;
    }
}