@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



// @media only screen and (max-width: 768px) {
   
//   }
// @media only screen and (max-width: 992px) {
   
//   }
// @media only screen and (max-width: 1200px) {
   
//   }

@media only screen and (max-width: 408px) {
    html{
        font-size: 55%;
    }
   
  }

@media(max-width:1200px){
  
    
    .card{
        transform: translate(0) !important;
    }
    .cards{
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        ;
    }
}