@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


body{
    background-color: #D5E1EF;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 2rem;
    width: 35rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 2rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    .img-wrap{
        img{
            border-radius: 1rem;
        }
    }
    p{
        opacity: 0.5;
    }
}