// FONT SIZES

$header1: clamp(3rem,3vw + 1rem,4.6rem); 
$header2: clamp(1.6rem,1vw + 1rem,1.8rem);
$header3: clamp(3.2rem,2vw + 1rem,3.8rem); 
$header4: clamp(1.4rem,1vw + 1rem,2rem);
$header5: clamp(1.5rem,1vw + 1rem,2rem);
$header6: clamp(1rem,1vw + 1rem,1.3rem);
$text: clamp(1.2rem,1vw + 1rem,1.6rem);
$logo: clamp(1.8rem,2vw + 1rem,2.4rem);



//TEXT COLORS

$text-color-black: black;
$text-color-white: white;

// BLACK AND WHTIE
$black:black;
$white:white;

// COLOR PALLETE

$color-main-d-cyan:hsl(158, 36%, 37%);
$color-main-cream: hsl(30, 38%, 92%);


$color-neutral-d-blue: hsl(212, 21%, 14%);
$color-neutral-dg-blue: hsl(228, 12%, 48%);

