@mixin transition{
    transition: (all 0.6s cubic-bezier(0.215, 0.610, 0.355, 1) )
  }


  @mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }


  @mixin background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
